openapi: 3.2.0
info:
  title: Truepill API documentation Direct Transfer API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: Direct Transfer
paths:
  /v1/direct_transfer/{direct_transfer_token}:
    get:
      summary: Get Direct Transfer by token
      operationId: getV1Direct_transferDirect_transfer_token
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Direct Transfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model47'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /api/v1/direct_transfer/{direct_transfer_token}:
    get:
      summary: Get Direct Transfer by token
      operationId: getApiV1Direct_transferDirect_transfer_token
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Direct Transfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model47'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /v1/direct_transfer/{direct_transfer_token}/webhook_events:
    get:
      summary: Get Direct Transfer webhook events by token
      operationId: getV1Direct_transferDirect_transfer_tokenWebhook_events
      description: 'You will receive a Notify Rx Webhook Event for each prescription that is transferred to Truepill.


        After a Direct Transfer Request has been successfully completed, you will receive a Notify Rx Webhook Event for the prescription transferred to Truepill, along with a Direct Transfer webhook event. This will contain the `prescription_token` to utilize the prescription within Truepill.


        If a Direct Transfer is unable to be successfully processed, only an error Direct Transfer webhook event will be sent.


        Direct Transfer Webhook Events are sent with text `DIRECT_TRANSFER` in the `callback_type` field and, like with other webhook events, the `status` field indicating whether or not it was successful.


        In an error webhook event for a Direct Transfer, the `prescription_token` will not be provided as it was unable to be added into the Truepill system.'
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Direct Transfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model100'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /api/v1/direct_transfer/{direct_transfer_token}/webhook_events:
    get:
      summary: Get Direct Transfer webhook events by token
      operationId: getApiV1Direct_transferDirect_transfer_tokenWebhook_events
      description: 'You will receive a Notify Rx Webhook Event for each prescription that is transferred to Truepill.


        After a Direct Transfer Request has been successfully completed, you will receive a Notify Rx Webhook Event for the prescription transferred to Truepill, along with a Direct Transfer webhook event. This will contain the `prescription_token` to utilize the prescription within Truepill.


        If a Direct Transfer is unable to be successfully processed, only an error Direct Transfer webhook event will be sent.


        Direct Transfer Webhook Events are sent with text `DIRECT_TRANSFER` in the `callback_type` field and, like with other webhook events, the `status` field indicating whether or not it was successful.


        In an error webhook event for a Direct Transfer, the `prescription_token` will not be provided as it was unable to be added into the Truepill system.'
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Direct Transfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model100'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /v1/direct_transfer:
    post:
      summary: Create Direct Transfer
      operationId: postV1Direct_transfer
      description: 'Create a direct pharmacy-to-pharmacy transfer of the prescription


        A direct transfer is a pharmacy-to-pharmacy transfer of the prescription between your pharmacy and a Truepill pharmacy. This method works best for customers that operate their own pharmacies and are looking for a programmatic way to transfer a prescription.


        And similar to a traditional transfer request, there are required fields related to the pharmacist transferring out the prescription, and the pharmacist transferring in the prescription.


        This approach requires a digital copy of the original prescription.'
      tags:
      - Direct Transfer
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model141'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model142'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model143'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDirectTransfer'
  /v2/direct_transfer:
    post:
      summary: Create Direct Transfer v2
      operationId: postV2Direct_transfer
      description: 'Create a direct pharmacy-to-pharmacy transfer of the prescription


        A direct transfer is a pharmacy-to-pharmacy transfer of the prescription between your pharmacy and a Truepill pharmacy. This method works best for customers that operate their own pharmacies and are looking for a programmatic way to transfer a prescription.


        And similar to a traditional transfer request, there are required fields related to the pharmacist transferring out the prescription, and the pharmacist transferring in the prescription.


        This approach requires a digital copy of the original prescription.'
      tags:
      - Direct Transfer
      responses:
        '200':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            description: Accepted
            label: 'Post Response: Accepted'
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: request_id
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: timestamp
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: status
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: details
              schema:
                type: object
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: false
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  unknown: true
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  dependencies: null
                  keys:
                  - key: direct_transfer_token
                    schema:
                      type: string
                      $_root:
                        _types: {}
                        version: 17.13.3
                        cache: {}
                      $_temp:
                        ruleset: null
                        whens: {}
                      _ids:
                        _byId: {}
                        _byKey: {}
                        _schemaChain: false
                      _preferences: null
                      _valids:
                        _values: {}
                        _refs: {}
                        _lowercase: {}
                        _override: false
                      _invalids: null
                      _rules:
                      - name: min
                        method: length
                        args:
                          limit: 0
                        operator: '>='
                        _resolve: []
                      _singleRules: {}
                      _refs:
                        refs: []
                      _flags: {}
                      _cache: null
                      $_terms:
                        alterations: null
                        examples: null
                        externals: null
                        metas: []
                        notes: []
                        shared: null
                        tags: []
                        whens: null
                        replacements: null
                      $_super: {}
                  - key: prescription_token
                    schema:
                      type: string
                      $_root:
                        _types: {}
                        version: 17.13.3
                        cache: {}
                      $_temp:
                        ruleset: null
                        whens: {}
                      _ids:
                        _byId: {}
                        _byKey: {}
                        _schemaChain: false
                      _preferences: null
                      _valids:
                        _values: {}
                        _refs: {}
                        _lowercase: {}
                        _override: false
                      _invalids: null
                      _rules:
                      - name: min
                        method: length
                        args:
                          limit: 0
                        operator: '>='
                        _resolve: []
                      _singleRules: {}
                      _refs:
                        refs: []
                      _flags: {}
                      _cache: null
                      $_terms:
                        alterations: null
                        examples: null
                        externals: null
                        metas: []
                        notes: []
                        shared: null
                        tags: []
                        whens: null
                        replacements: null
                      $_super: {}
                  - key: prescription
                    schema:
                      type: alternatives
                      $_root:
                        _types: {}
                        version: 17.13.3
                        cache: {}
                      $_temp:
                        ruleset: false
                        whens: {}
                      _ids:
                        _byId: {}
                        _byKey: {}
                        _schemaChain: false
                      _preferences: null
                      _valids: null
                      _invalids: null
                      _rules: []
                      _singleRules: {}
                      _refs:
                        refs: []
                      _flags:
                        match: one
                      _cache: null
                      $_terms:
                        alterations: null
                        examples: null
                        externals: null
                        metas: []
                        notes: []
                        shared: null
                        tags: []
                        whens: null
                        matches:
                        - schema:
                            type: alternatives
                            $_root:
                              _types: {}
                              version: 17.13.3
                              cache: {}
                            $_temp:
                              ruleset: false
                              whens: {}
                            _ids:
                              _byId: {}
                              _byKey: {}
                              _schemaChain: false
                            _preferences: null
                            _valids: null
                            _invalids: null
                            _rules: []
                            _singleRules: {}
                            _refs:
                              refs: []
                            _flags:
                              match: all
                            _cache: null
                            $_terms:
                              alterations: null
                              examples: null
                              externals: null
                              metas: []
                              notes: []
                              shared: null
                              tags: []
                              whens: null
                              matches:
                              - schema:
                                  type: object
                                  $_root:
                                    _types: {}
                                    version: 17.13.3
                                    cache: {}
                                  $_temp:
                                    ruleset: false
                                    whens: {}
                                  _ids:
                                    _byId: {}
                                    _byKey: {}
                                    _schemaChain: false
                                  _preferences: null
                                  _valids: null
                                  _invalids: null
                                  _rules: []
                                  _singleRules: {}
                                  _refs:
                                    refs: []
                                  _flags:
                                    unknown: true
                                  _cache: null
                                  $_terms:
                                    alterations: null
                                    examples: null
                                    externals: null
                                    metas: []
                                    notes: []
                                    shared: null
                                    tags: []
                                    whens: null
                                    dependencies: null
                                    keys:
                                    - key: prescribed_medication_name
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed medication name
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_quantity
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed medication quantity
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_medication_sig
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed recommendations for medicines
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_written_date
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: pattern
                                          args:
                                            regex: {}
                                            options: {}
                                          errorCode: string.pattern.base
                                          _resolve: []
                                          method: pattern
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Written date
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: expiration_date
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Expiration date
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: daw_code
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: NCPDP daw code
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: prescribed_ndc
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: National drug code
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_days_supply
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Days supply
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: icd10_codes
                                      schema:
                                        type: array
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules:
                                        - name: items
                                          _resolve: []
                                          method: items
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags: {}
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          items:
                                          - type: string
                                            $_root:
                                              _types: {}
                                              version: 17.13.3
                                              cache: {}
                                            $_temp:
                                              ruleset: null
                                              whens: {}
                                            _ids:
                                              _byId: {}
                                              _byKey: {}
                                              _schemaChain: false
                                            _preferences: null
                                            _valids:
                                              _values: {}
                                              _refs: {}
                                              _lowercase: {}
                                              _override: false
                                            _invalids: null
                                            _rules:
                                            - name: min
                                              method: length
                                              args:
                                                limit: 0
                                              operator: '>='
                                              _resolve: []
                                            _singleRules: {}
                                            _refs:
                                              refs: []
                                            _flags: {}
                                            _cache: null
                                            $_terms:
                                              alterations: null
                                              examples: null
                                              externals: null
                                              metas: []
                                              notes: []
                                              shared: null
                                              tags: []
                                              whens: null
                                              replacements: null
                                            $_super: {}
                                          ordered: []
                                          _exclusions: []
                                          _inclusions:
                                          - type: string
                                            $_root:
                                              _types: {}
                                              version: 17.13.3
                                              cache: {}
                                            $_temp:
                                              ruleset: null
                                              whens: {}
                                            _ids:
                                              _byId: {}
                                              _byKey: {}
                                              _schemaChain: false
                                            _preferences: null
                                            _valids:
                                              _values: {}
                                              _refs: {}
                                              _lowercase: {}
                                              _override: false
                                            _invalids: null
                                            _rules:
                                            - name: min
                                              method: length
                                              args:
                                                limit: 0
                                              operator: '>='
                                              _resolve: []
                                            _singleRules: {}
                                            _refs:
                                              refs: []
                                            _flags: {}
                                            _cache: null
                                            $_terms:
                                              alterations: null
                                              examples: null
                                              externals: null
                                              metas: []
                                              notes: []
                                              shared: null
                                              tags: []
                                              whens: null
                                              replacements: null
                                            $_super: {}
                                          _requireds: []
                                        $_super: {}
                                    - key: prescriber_notes
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Text note from prescriber
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_number_of_refills
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed number of refills
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: prescribed_unit_of_measure
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed unit of measure for a medicaiton
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_strength
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed medication strength
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescription_image_url
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Original prescription image
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    patterns: null
                                    renames: null
                                  $_super: {}
                              - schema:
                                  type: object
                                  $_root:
                                    _types: {}
                                    version: 17.13.3
                                    cache: {}
                                  $_temp:
                                    ruleset: false
                                    whens: {}
                                  _ids:
                                    _byId: {}
                                    _byKey: {}
                                    _schemaChain: false
                                  _preferences: null
                                  _valids: null
                                  _invalids: null
                                  _rules: []
                                  _singleRules: {}
                                  _refs:
                                    refs: []
                                  _flags:
                                    unknown: true
                                  _cache: null
                                  $_terms:
                                    alterations: null
                                    examples: null
                                    externals: null
                                    metas: []
                                    notes: []
                                    shared: null
                                    tags: []
                                    whens: null
                                    dependencies: null
                                    keys:
                                    - key: forwarding_notes
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Text note from forwarding pharmacy
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    patterns: null
                                    renames: null
                                  $_super: {}
                            $_super: {}
                        - schema:
                            type: alternatives
                            $_root:
                              _types: {}
                              version: 17.13.3
                              cache: {}
                            $_temp:
                              ruleset: false
                              whens: {}
                            _ids:
                              _byId: {}
                              _byKey: {}
                              _schemaChain: false
                            _preferences: null
                            _valids: null
                            _invalids: null
                            _rules: []
                            _singleRules: {}
                            _refs:
                              refs: []
                            _flags:
                              match: all
                            _cache: null
                            $_terms:
                              alterations: null
                              examples: null
                              externals: null
                              metas: []
                              notes: []
                              shared: null
                              tags: []
                              whens: null
                              matches:
                              - schema:
                                  type: object
                                  $_root:
                                    _types: {}
                                    version: 17.13.3
                                    cache: {}
                                  $_temp:
                                    ruleset: false
                                    whens: {}
                                  _ids:
                                    _byId: {}
                                    _byKey: {}
                                    _schemaChain: false
                                  _preferences: null
                                  _valids: null
                                  _invalids: null
                                  _rules: []
                                  _singleRules: {}
                                  _refs:
                                    refs: []
                                  _flags:
                                    unknown: true
                                  _cache: null
                                  $_terms:
                                    alterations: null
                                    examples: null
                                    externals: null
                                    metas: []
                                    notes: []
                                    shared: null
                                    tags: []
                                    whens: null
                                    dependencies: null
                                    keys:
                                    - key: prescribed_medication_name
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed medication name
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_quantity
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed medication quantity
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_medication_sig
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed recommendations for medicines
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_written_date
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: pattern
                                          args:
                                            regex: {}
                                            options: {}
                                          errorCode: string.pattern.base
                                          _resolve: []
                                          method: pattern
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Written date
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: expiration_date
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Expiration date
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: daw_code
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: NCPDP daw code
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: prescribed_ndc
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: National drug code
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_days_supply
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Days supply
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: icd10_codes
                                      schema:
                                        type: array
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules:
                                        - name: items
                                          _resolve: []
                                          method: items
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags: {}
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          items:
                                          - type: string
                                            $_root:
                                              _types: {}
                                              version: 17.13.3
                                              cache: {}
                                            $_temp:
                                              ruleset: null
                                              whens: {}
                                            _ids:
                                              _byId: {}
                                              _byKey: {}
                                              _schemaChain: false
                                            _preferences: null
                                            _valids:
                                              _values: {}
                                              _refs: {}
                                              _lowercase: {}
                                              _override: false
                                            _invalids: null
                                            _rules:
                                            - name: min
                                              method: length
                                              args:
                                                limit: 0
                                              operator: '>='
                                              _resolve: []
                                            _singleRules: {}
                                            _refs:
                                              refs: []
                                            _flags: {}
                                            _cache: null
                                            $_terms:
                                              alterations: null
                                              examples: null
                                              externals: null
                                              metas: []
                                              notes: []
                                              shared: null
                                              tags: []
                                              whens: null
                                              replacements: null
                                            $_super: {}
                                          ordered: []
                                          _exclusions: []
                                          _inclusions:
                                          - type: string
                                            $_root:
                                              _types: {}
                                              version: 17.13.3
                                              cache: {}
                                            $_temp:
                                              ruleset: null
                                              whens: {}
                                            _ids:
                                              _byId: {}
                                              _byKey: {}
                                              _schemaChain: false
                                            _preferences: null
                                            _valids:
                                              _values: {}
                                              _refs: {}
                                              _lowercase: {}
                                              _override: false
                                            _invalids: null
                                            _rules:
                                            - name: min
                                              method: length
                                              args:
                                                limit: 0
                                              operator: '>='
                                              _resolve: []
                                            _singleRules: {}
                                            _refs:
                                              refs: []
                                            _flags: {}
                                            _cache: null
                                            $_terms:
                                              alterations: null
                                              examples: null
                                              externals: null
                                              metas: []
                                              notes: []
                                              shared: null
                                              tags: []
                                              whens: null
                                              replacements: null
                                            $_super: {}
                                          _requireds: []
                                        $_super: {}
                                    - key: prescriber_notes
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Text note from prescriber
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_number_of_refills
                                      schema:
                                        type: number
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: false
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids: null
                                        _invalids: null
                                        _rules: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed number of refills
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                        $_super: {}
                                    - key: prescribed_unit_of_measure
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
                                          method: length
                                          args:
                                            limit: 0
                                          operator: '>='
                                          _resolve: []
                                        _singleRules: {}
                                        _refs:
                                          refs: []
                                        _flags:
                                          description: Prescribed unit of measure for a medicaiton
                                          presence: required
                                        _cache: null
                                        $_terms:
                                          alterations: null
                                          examples: null
                                          externals: null
                                          metas: []
                                          notes: []
                                          shared: null
                                          tags: []
                                          whens: null
                                          replacements: null
                                        $_super: {}
                                    - key: prescribed_strength
                                      schema:
                                        type: string
                                        $_root:
                                          _types: {}
                                          version: 17.13.3
                                          cache: {}
                                        $_temp:
                                          ruleset: null
                                          whens: {}
                                        _ids:
                                          _byId: {}
                                          _byKey: {}
                                          _schemaChain: false
                                        _preferences: null
                                        _valids:
                                          _values: {}
                                          _refs: {}
                                          _lowercase: {}
                                          _override: false
                                        _invalids: null
                                        _rules:
                                        - name: min
[...]
