openapi: 3.2.0
info:
  title: Truepill API documentation Diagnostics API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: Diagnostics
paths:
  /diagnostics/v0/kits:
    get:
      summary: Get Kits
      operationId: getDiagnosticsV0Kits
      description: Get available kits.
      tags:
      - Diagnostics
      responses:
        '200':
          description: The set of all test kits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitResponse'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '404':
          description: Kit not found
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/orders:
    get:
      summary: Get Orders
      operationId: getDiagnosticsV0Orders
      description: 'Get all orders. Supports searching with a simple DSL:

        [operator]:value where [operator] is one of: ''$lt'' for "less than" ''$lte'' for "less than or equal to" ''$eq'' for "equal to" ''$gte'' for "greater than or equal to" ''$gt'' for "greater than"'
      parameters:
      - description: Limited Quantity information
        name: limit
        in: query
        schema:
          type: number
      - description: 'query + ID indicating which test should to be ordered. Acceptable query values include: ''$eq:'' (equals), ''$gt:'' (greater than), ''$gte:'' (greater than or equal to), ''$lt:'' (less than), ''$lte:'' (less than or equal to)'
        name: test_id
        in: query
        schema:
          type: string
          pattern: ^(\$gt:|\$gte:|\$lt:|\$lte:|\$eq:)[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      - description: 'query + ID indicating which kit should be ordered. Acceptable query values include: ''$eq:'' (equals), ''$gt:'' (greater than), ''$gte:'' (greater than or equal to), ''$lt:'' (less than), ''$lte:'' (less than or equal to)'
        name: kit_id
        in: query
        schema:
          type: string
          pattern: ^(\$gt:|\$gte:|\$lt:|\$lte:|\$eq:)[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      - description: A custom data string for external use. This can be any arbitrary UTF-8 string
        name: custom_data_1
        in: query
        schema:
          type: string
          pattern: ^(\$gt:|\$gte:|\$lt:|\$lte:|\$eq:).+$
      - description: A custom data string for external use. This can be any arbitrary UTF-8 string
        name: custom_data_2
        in: query
        schema:
          type: string
          pattern: ^(\$gt:|\$gte:|\$lt:|\$lte:|\$eq:).+$
      - description: A custom data string for external use. This can be any arbitrary UTF-8 string
        name: custom_data_3
        in: query
        schema:
          type: string
          pattern: ^(\$gt:|\$gte:|\$lt:|\$lte:|\$eq:).+$
      - name: panels
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          minItems: 1
      - name: pageToken
        in: query
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The set of all orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
    post:
      summary: Post Order
      operationId: postDiagnosticsV0Orders
      description: Create a new order, and fulfill a new kit to the patient for that order. If there's already a kit for this patient, use the "register" endpoint instead of this endpoint.
      tags:
      - Diagnostics
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '201':
          description: The created order
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrders'
  /diagnostics/v0/tests:
    get:
      summary: Get Tests
      operationId: getDiagnosticsV0Tests
      description: Get available tests
      tags:
      - Diagnostics
      responses:
        '200':
          description: The set of all tests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/orders/{order_id}:
    get:
      summary: Get Order By Id
      operationId: getDiagnosticsV0OrdersOrder_id
      description: Get order
      parameters:
      - description: Order ID
        x-format:
          guid: true
        name: order_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The given order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/orders/{order_id}/rejection:
    get:
      summary: Get Orders Rejection
      operationId: getDiagnosticsV0OrdersOrder_idRejection
      description: Get test rejections for order
      parameters:
      - description: Diagnostics-specific order UUID (not used by other APIs)
        x-format:
          guid: true
        name: order_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The rejections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRejectionResponse'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/orders/{order_id}/results:
    get:
      summary: Get Order Results
      operationId: getDiagnosticsV0OrdersOrder_idResults
      description: Get test results for order
      parameters:
      - description: Diagnostics-specific order UUID (not used by other APIs)
        x-format:
          guid: true
        name: order_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The set of all tests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResultResponse'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v2/orders/{order_id}/results:
    get:
      summary: Get Order Results
      operationId: getDiagnosticsV2OrdersOrder_idResults
      description: Get test results for order
      parameters:
      - description: Diagnostics-specific order UUID (not used by other APIs)
        x-format:
          guid: true
        name: order_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The set of all tests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResultResponseV2'
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/kits/{kit_id}/validation/kit_serial:
    get:
      summary: Validate Kit Serial
      operationId: getDiagnosticsV0KitsKit_idValidationKit_serial
      description: Validate that the kit serial is valid for use, according to checks in the diagnostic-api.
      parameters:
      - description: Kit ID
        x-format:
          guid: true
        name: kit_id
        in: path
        required: true
        schema:
          type: string
      - description: Kit Serial
        name: test
        in: query
        required: true
        schema:
          type: string
      tags:
      - Diagnostics
      responses:
        '200':
          description: The kit serial is valid
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '404':
          description: Kit not found
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
  /diagnostics/v0/orders/register:
    post:
      summary: Register Order
      operationId: postDiagnosticsV0OrdersRegister
      description: Register a new order using an existing kit serial.
      tags:
      - Diagnostics
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '201':
          description: The created order
        '400':
          description: There is an issue with your request. Inspection of the response body will yield more details
        '401':
          description: Authorization missing or invalid
        '500':
          description: An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterOrder'
components:
  schemas:
    Physician:
      type: object
      description: Physician providing requisition
      properties:
        first_name:
          type: string
          description: Physician first name
        last_name:
          type: string
          description: Physician last name
        npi:
          type: string
          description: National provider identifier
          example: '1234567890'
        facility:
          type: string
          description: Physician Facility
        address:
          type: string
          description: Physician Address
        city:
          type: string
          description: Physician city
          example: San Mateo
        state:
          type: string
          description: Physician state
          example: CA
        zip:
          type: string
          description: Physician postal code
          example: '60660'
          pattern: ^\d{5}(-\d{4})?$
        phone:
          type: string
          description: Physician contact phone number
          example: 430-304-3949
        credential:
          type: string
          description: Physician credential
          example: MD
      required:
      - first_name
      - last_name
      - npi
    GetOrderRejectionResponse:
      type: object
      properties:
        reason:
          type: string
          description: Reason
        rejected_at:
          type: string
          format: date
          description: Reason where was rejected
          example: '2011-10-05T14:48:00.000Z'
        fixable:
          type: boolean
          description: Could be fixeable or not
          example: false
        panel_name:
          type: string
      required:
      - rejected_at
    Model205:
      type: array
      minItems: 1
      items:
        type: string
    PatientResponse:
      type: object
      properties:
        first_name:
          type: string
          description: Patient first name
          example: John
        last_name:
          type: string
          description: Patient last name
          example: Doe
        dob:
          $ref: '#/components/schemas/DOB'
        gender:
          type: string
          description: Patient gender
          example: male
          enum:
          - male
          - female
          - unknown
        email:
          type: string
          description: Patient contact email address
          example: some_mail@gmail.com
          x-format:
            email: true
        phone:
          type: string
          description: Patient contact phone number
          example: 430-304-3949
        street1:
          type: string
          description: Patient street 1
          example: 1234 Main St
        street2:
          type: string
          description: Patient street 2
          example: Apt 9B
        city:
          type: string
          description: Patient city
          example: San Mateo
        state:
          type: string
          description: Patient state
          example: CA
          x-constraint:
            length: 2
        zip:
          type: string
          description: Location postal code
          example: '60660'
          pattern: ^\d{5}(-\d{4})?$
      required:
      - first_name
      - last_name
      - gender
      - zip
    OrderResultResponse:
      type: array
      items:
        $ref: '#/components/schemas/OrderResult'
    OrderResultResponseV2:
      type: array
      items:
        $ref: '#/components/schemas/Model107'
    Model204:
      type: object
      description: Patient information
      properties:
        first_name:
          type: string
          description: Patient first name
          example: John
        last_name:
          type: string
          description: Patient last name
          example: Doe
        dob:
          type: string
          description: Patient date of birth
          example: '19950503'
          pattern: ^(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
        gender:
          type: string
          description: Patient gender
          example: male
          enum:
          - male
          - female
          - unknown
        email:
          type: string
          description: Patient contact email address
          example: some_mail@gmail.com
          x-format:
            email: true
        phone:
          type: string
          description: Patient contact phone number
          example: 430-304-3949
        street1:
          type: string
          description: Patient street 1
          example: 1234 Main St
        street2:
          type: string
          description: Patient street 2
          example: Apt 9B
        city:
          type: string
          description: Patient city
          example: San Mateo
        state:
          type: string
          description: Patient state
          example: CA
          x-constraint:
            length: 2
        zip:
          type: string
          description: Location postal code
          example: '60660'
          pattern: ^\d{5}(-\d{4})?$
      required:
      - first_name
      - last_name
      - dob
      - gender
      - zip
    Media_IDs:
      type: array
      description: Used to request media files.
      example:
      - 5201130d-118e-439a-9343-b8d23dee4fe3
      items:
        type: string
    OrderResult:
      type: object
      properties:
        name:
          type: string
          description: Result name
          example: FEVER CHECK
        quantitative_value:
          type: string
          example: '100.4'
        qualitative_value:
          type: string
          example: POSITIVE
        measured_at:
          type: string
          format: date
          description: 'Date of receipt of the result '
          example: '2011-10-05T14:48:00.000Z'
        panel_name:
          type: string
        severity:
          type: string
          description: Severity of drug warning for this patient
          example: moderate
      required:
      - name
      - measured_at
    answer:
      type: array
      items:
        $ref: '#/components/schemas/Model39'
    Model107:
      type: object
      properties:
        name:
          type: string
          description: Result name
          example: FEVER CHECK
        quantitative_value:
          type: string
          example: '100.4'
        qualitative_value:
          type: string
          example: POSITIVE
        measured_at:
          type: string
          format: date
          description: 'Date of receipt of the result '
          example: '2011-10-05T14:48:00.000Z'
        panel_name:
          type: string
        severity:
          type: string
          description: Severity of drug warning for this patient
          example: moderate
        media_ids:
          $ref: '#/components/schemas/Media_IDs'
      required:
      - name
      - measured_at
    DOB:
      type: object
      description: Patient date of birth
      properties:
        day:
          type: number
          example: 12
        month:
          type: number
          example: 7
        year:
          type: number
          example: 1997
    specimen:
      type: object
      properties:
        specimenCollectedDate:
          type: string
        questionnaireResponse:
          $ref: '#/components/schemas/questionnaireResponse'
    OrderResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        results:
          $ref: '#/components/schemas/OrderArray'
    Address:
      type: object
      description: Shipping Address Object
      properties:
        name:
          type: string
          description: Name
          example: Bill Lumbergh
        street1:
          type: string
          description: Shipping street 1
          example: 1234 Main St
        street2:
          type: string
          description: Shipping street 2
          example: Apt 9B
        city:
          type: string
          description: Shipping city
          example: San Mateo
        state:
          type: string
          description: Shipping state
          example: CA
          x-constraint:
            length: 2
        zip:
          type: string
          description: Shipping postal code
          example: '60660'
          pattern: ^\d{5}(-\d{4})?$
      required:
      - name
      - street1
      - city
      - zip
    Order:
      type: object
      properties:
        id:
          type: string
          description: Order ID
          example: e457d2e7-ebf4-403c-b2c1-a1970f16d011
          x-format:
            guid: true
        test:
          $ref: '#/components/schemas/Test'
        panels:
          $ref: '#/components/schemas/Panels'
        kit:
          $ref: '#/components/schemas/Kit'
        status:
          type: string
          description: Order status
          example: PENDING
        updated_at:
          type: string
          format: date
          description: Update date
          example: '2021-06-08T14:10:08.512Z'
        patient:
          $ref: '#/components/schemas/PatientResponse'
        address:
          $ref: '#/components/schemas/Address'
        physician:
          $ref: '#/components/schemas/Physician'
        insurance:
          $ref: '#/components/schemas/Insurance'
        fill_request_id:
          type: string
          description: Fill request ID to associate with this order
          example: fill_request_bd6825a9d66a49b3d7a7
        accession_id:
          type: string
        custom_data_1:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_2:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_3:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        media_ids:
          $ref: '#/components/schemas/Media%20IDs'
        specimen:
          $ref: '#/components/schemas/specimen'
      required:
      - patient
    KitResponse:
      type: array
      items:
        $ref: '#/components/schemas/KitWithoutSerial'
    Panels:
      type: array
      description: Essentially used for blood tests to ask for certain items to be run
      items:
        $ref: '#/components/schemas/Model38'
    OrderArray:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    KitWithoutSerial:
      type: object
      properties:
        id:
          type: string
          description: Kit ID
          example: 5d03c2b9-9a92-4745-83b1-2312599ca1c3
          x-format:
            guid: true
        sku:
          type: string
          description: SKU of items as specified on kit
          example: SampleCorp Covid Antigen Kit
    RegisterOrder:
      type: object
      description: Register a new order using the existing kit serial
      properties:
        patient:
          $ref: '#/components/schemas/Model204'
        patient_token:
          type: string
          description: Token to reference Patient record. Only one of patient_token or patient will be accepted
          example: p4t13ntt0k3n
        panels:
          $ref: '#/components/schemas/Model205'
        address:
          $ref: '#/components/schemas/Address'
        physician:
          $ref: '#/components/schemas/Physician'
        insurance:
          $ref: '#/components/schemas/Insurance'
        insurance_token:
          type: string
          description: "\tToken to reference a Patient's insurance. Only one of insurance_token or insurance will be accepted"
          example: 19sienglo92831n5
        kit_id:
          type: string
          description: ID indicating which kit should be ordered
          example: e457d2e7-ebf4-403c-b2c1-a1970f16d011
          x-format:
            guid: true
        kit_serial:
          type: string
          description: Serial number of the kit to associate with this order
          example: ABBAHAHAHAHAHAHSINZN
          minLength: 1
        custom_data_1:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_2:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_3:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        test_id:
          type: string
          description: ID indicating which test should to be ordered
          example: 84e14b68-0372-4d5b-9a33-5e3fe5b43247
          x-format:
            guid: true
      required:
      - kit_serial
      - test_id
    TestResponse:
      type: array
      items:
        $ref: '#/components/schemas/Test'
    PostOrders:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/Model204'
        patient_token:
          type: string
          description: Token to reference Patient record. Only one of patient_token or patient will be accepted
          example: p4t13ntt0k3n
        panels:
          $ref: '#/components/schemas/Model205'
        address:
          $ref: '#/components/schemas/Address'
        physician:
          $ref: '#/components/schemas/Physician'
        insurance:
          $ref: '#/components/schemas/Insurance'
        insurance_token:
          type: string
          description: Only one of insurance_token or insurance will be accepted
          example: 9502a8162af55927
        kit_id:
          type: string
          description: ID indicating which kit should be ordered
          example: e457d2e7-ebf4-403c-b2c1-a1970f16d011
          x-format:
            guid: true
        test_id:
          type: string
          description: ID indicating which test should to be ordered
          example: 84e14b68-0372-4d5b-9a33-5e3fe5b43247
          x-format:
            guid: true
        custom_data_1:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_2:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        custom_data_3:
          type: string
          description: A custom data string for external use. This can be any arbitrary UTF-8 string
          example: '2012-01-26T13:51:50.417-07:00'
        specimen:
          $ref: '#/components/schemas/specimen'
      required:
      - address
      - test_id
    Model39:
      type: object
      properties:
        valueCoding:
          $ref: '#/components/schemas/valueCoding'
        valueBoolean:
          type: boolean
        valueString:
          type: string
        valueDate:
          type: string
    questionnaireResponse:
      type: array
      items:
        $ref: '#/components/schemas/Model40'
    Model38:
      type: object
      properties:
        name:
          type: string
          example: Creatinine
        description:
          type: string
      required:
      - name
    Insurance:
      type: object
      description: Insurance information
      properties:
        payer_name:
          type: string
          description: Payer name
          example: Bruce Banner
        group_id:
          type: string
          description: Group ID on insurance card
          example: '006726'
        member_id:
          type: string
          description: Member ID on insurance card
          example: A9321328
        bin:
          type: string
          description: RX Bin on card, always 6 characters
          example: '997928'
      required:
      - payer_name
      - group_id
      - member_id
      - bin
    Model40:
      type: object
      properties:
        linkId:
          type: string
        answer:
          $ref: '#/components/schemas/answer'
    Test:
      type: object
      description: Test description
      properties:
        id:
          type: string
          description: Test ID
          example: 5d03c2b9-9a92-4745-83b1-2312599ca1c3
          x-format:
            guid: true
        name:
          type: string
          description: Result name
          example: FEVER CHECK
    valueCoding:
      type: object
      properties:
        code:
          type: string
        display:
          type: string
    Kit:
      type: object
      properties:
        id:
          type: string
          description: Kit id
          example: f4fa75be-7112-4d0b-8f4d-97fe81bddfa8
          x-format:
            guid: true
        sku:
          type: string
          description: Order stock-keeping unit
          example: Abbott Rapid Antigen Kit
        serial:
          type: string
          description: Serial number of the kit to associate with this order
          example: 010081187701133017333333101H
        return_shipment:
          $ref: '#/components/schemas/return_shipment'
    return_shipment:
      type: object
      properties:
        carrier:
          type: string
          example: usps
        tracking_number:
          type: string
          example: 9400 1234 5678 9999 8765 00
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
x-alt-definitions:
  selected_allergies:
    type: array
    items:
      type: string
  allergies:
    type: object
    properties:
      selected_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      presented_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      free_form_allergy_information:
        type: string
    required:
    - selected_allergies
    - presented_allergies
    - free_form_allergy_information
  Model1:
    type: object
    properties:
      name:
        type: string
      strength:
        type: number
      dosage:
        type: string
      frequency:
        type: string
    required:
    - name
  medications:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model1'
  Model2:
    type: object
    properties:
      type:
        type: string
      year:
        type: number
      reason:
        type: string
    required:
    - type
    - year
    - reason
  events:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model2'
  patient_consent:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
  Model3:
    type: object
    properties:
      insurance_token:
        type: string
        description: Insurance token
        example: adcbc795028c009d
        minLength: 1
      prior_authorization_number:
        type: string
        example: ABC123
        pattern: ^[0-9a-zA-Z]{1,35}$
      other_coverage_code:
        type: string
        example: '8'
        pattern: ^[0-8]{1}$
      submission_clarification_code:
        type: string
        example: '3'
        pattern: ^(?:[1-9]\d?|0)$
    required:
    - insurance_token
  claim_overrides:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model3'
  pricing:
    type: object
    properties:
      ingredient_cost_submitted:
        type: number
        x-constraint:
          greater: 0
          precision: 2
  Model4:
    type: object
    properties:
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      quantity:
        type: number
        example: 8.7
      days_supply:
        type: number
        example: 30
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
      claim_overrides:
        $ref: '#/x-alt-definitions/claim_overrides'
      ndc:
        type: string
        description: National drug code
        example: '71858002504'
        pattern: ^[0-9]{10,11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      copay_limit:
        type: number
        minimum: 0
        x-constraint:
          precision: 2
      pricing:
        $ref: '#/x-alt-definitions/pricing'
    required:
    - prescription_token
    - daw
  insurance_token:
    type: array
    example:
    - skhsyq83rkd3uht9
    - ubqfc1a0a17hjb1c
    - oi4aafwcsv5zzvvj
    minItems: 1
    items:
      type: string
  copay_payment:
    type: object
    properties:
      cardholder_name:
        type: string
        description: Cardholder name
        example: John Doe
      payment_type:
        type: string
      last_four_digits:
        type: string
        example: '4132'
      transaction_amount:
        type: number
      card_type:
        type: string
      transaction_date:
        type: string
      transaction_id:
        type: string
    required:
    - payment_type
  Medication:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
    required:
    - daw
  MedicationArray:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Medication'
  auto_refill:
    type: object
    properties:
      date_provided:
        type: string
        format: date
        description: Date of consent
        example: '2022-05-12'
      consent_statement:
        type: string
        description: Statement confirming consent
        example: I consent
    required:
    - date_provided
    - consent_statement
  Model5:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
      auto_refill:
        $ref: '#/x-alt-definitions/auto_refill'
  Model6:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/Model5'
    required:
    - daw
  Model7:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Model6'
  Shipping Address:
    type: object
    properties:
      name:
        type: string
        minLength: 1
      company:
        type: string
        minLength: 0
      street1:
        type: string
        description: Primary street of the address
        minLength: 1
      street2:
        type: string
        description: Secondary street
        minLength: 0
      city:
        type: string
        description: City
        minLength: 1
      state:
        type: string
        description: State
        minLength: 1
      zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-\d{4})?$
      country:
        type: string
        description: Country
        default: US
        minLength: 1
      phone:
        type: string
        minLength: 0
      email:
        type: string
        minLength: 1
      fax:
        type: string
        minLength: 0
    required:
    - name
    - street1
    - city
    - state
    - zip
    - country
    - email
  shipping_address:
    type: object
    properties:
      phone:
        type: string
        minLength: 0
    required:
    - phone
  external_location:
    type: object
    properties:
      id:
        type: string
        description: 'Stringified UUIDv4.

          See [RFC 4112](https://tools.ietf.org/html/rfc4122)'
        minLength: 0
        pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      pharmacy:
        type: string
        description: References GET /v1/external_location_pharmacies
        minLength: 0
      npi:
        type: string
        description: NPI - likely type 2
        minLength: 0
        maxLength: 10
        pattern: ^[0-9]{10}$
      address_to_street1:
        type: string
        minLength: 0
      address_to_street2:
        type: string
        minLength: 0
      address_to_city:
        type: string
        minLength: 0
      address_to_state:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-?\d{4})?$
      address_to_country:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_phone:
        type: string
        minLength: 0
        pattern: ^(\+)?[1-9]\d{1,14}$
      address_to_fax:
        type: string
        description: The fax number of the address
        minLength: 0
        maxLength: 255
        pattern: ^[1-9]\d{1,14}$
    required:
    - id
    - pharmacy
    - npi
    - address_to_street1
    - address_to_city
    - address_to_state
    - address_to_zip
    - address_to_country
  Model8:
    type: object
    properties:
      ncpdpid:
        type: string
        description: NCPDP ID - National Council for Prescription Drug Programs
        minLength: 0
      distance_from_origin:
        type: number
        description: Approximate distance rounded to nearest 0.01 mile
    required:
    - ncpdpid
