openapi: 3.2.0
info:
  title: Truepill API documentation Insurance API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: Insurance
paths:
  /v1/insurance/{insurance_token}:
    get:
      summary: Get Insurance details
      operationId: getV1InsuranceInsurance_token
      parameters:
      - description: Insurance token
        name: insurance_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Insurance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model52'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model53'
  /api/v1/insurance/{insurance_token}:
    get:
      summary: Get Insurance details
      operationId: getApiV1InsuranceInsurance_token
      parameters:
      - description: Insurance token
        name: insurance_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Insurance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model52'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model53'
  /v1/insurance:
    post:
      summary: Create Insurance
      operationId: postV1Insurance
      description: 'Associate an Insurance with the Patient


        With a Patient created in the Truepill ecosystem, you can associate an Insurance to that patient with the Create Insurance API endpoint using the `patient_token`.


        Upon a successful response, an `insurance_token` is provided that can be used along with the existing `patient_token` for Copay and Fill Requests.


        Truepill supports multiple insurances should a patient provide more than one insurance.'
      tags:
      - Insurance
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model156'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model159'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model154'
  /api/v1/insurance:
    post:
      summary: Create Insurance
      operationId: postApiV1Insurance
      description: 'Associate an Insurance with the Patient


        With a Patient created in the Truepill ecosystem, you can associate an Insurance to that patient with the Create Insurance API endpoint using the `patient_token`.


        Upon a successful response, an `insurance_token` is provided that can be used along with the existing `patient_token` for Copay and Fill Requests.


        Truepill supports multiple insurances should a patient provide more than one insurance.'
      tags:
      - Insurance
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model156'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model159'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model154'
  /v1/insurance/eligibility-check:
    post:
      summary: Check Insurance Eligibility
      operationId: postV1InsuranceEligibilitycheck
      description: 'Check patient insurance eligibility


        This endpoint accepts either a patient_token or patient details to check insurance eligibility.


        The request will be forwarded to the Insurance Service for processing.


        Returns an array of insurances.'
      tags:
      - Insurance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model215'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model216'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model217'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model218'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model214'
  /api/v1/insurance/eligibility-check:
    post:
      summary: Check Insurance Eligibility
      operationId: postApiV1InsuranceEligibilitycheck
      description: 'Check patient insurance eligibility


        This endpoint accepts either a patient_token or patient details to check insurance eligibility.


        The request will be forwarded to the Insurance Service for processing.


        Returns an array of insurances.'
      tags:
      - Insurance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model215'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model216'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model217'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model218'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model214'
components:
  schemas:
    Model214:
      type: object
      description: Either patient_token or patient_details must be provided, but not both
      properties:
        patient_token:
          type: string
          description: Patient token
          example: 4526d90a
        patient_details:
          $ref: '#/components/schemas/patient_details'
    patient_details:
      type: object
      description: Patient details
      properties:
        first_name:
          type: string
          description: Patient first name
          example: John
        last_name:
          type: string
          description: Patient last name
          example: Doe
        dob:
          type: string
          description: Patient date of birth in YYYYMMDD format
          example: '19950503'
          pattern: ^\d{8}$
        gender:
          type: string
          description: Patient gender
          example: male
          enum:
          - male
          - female
        zip:
          type: string
          description: Patient zip code
          example: '94105'
          pattern: ^\d{5}(-\d{4})?$
        city:
          type: string
          description: Patient city
          example: San Francisco
        state:
          type: string
          description: Patient state code
          example: CA
          x-constraint:
            length: 2
      required:
      - first_name
      - last_name
      - dob
      - gender
      - zip
      - city
    Model157:
      type: object
      properties:
        key:
          type: string
          example: insurance.cardholder_id
        message:
          type: string
          example: cardholder_id must be a string
    Model218:
      type: object
      properties:
        statusCode:
          type: number
          example: 504
        error:
          type: string
          example: Gateway Timeout
        message:
          type: string
          example: Surescripts service request timed out
    Model155:
      type: object
      properties:
        insurance_token:
          type: string
          example: 498147cb8c59541b
    Model154:
      type: object
      properties:
        insurance:
          $ref: '#/components/schemas/Model153'
        patient_token:
          type: string
          example: 4526d90a
      required:
      - insurance
      - patient_token
    Model216:
      type: object
      properties:
        statusCode:
          type: number
          example: 400
        error:
          type: string
          example: Bad Request
        message:
          type: string
          example: Invalid or missing patient_token
    Model53:
      type: object
      properties:
        statusCode:
          type: number
          example: 404
        error:
          type: string
          example: Not Found
        message:
          type: string
          example: Unable to find Insurance.
    Model156:
      type: object
      properties:
        request_id:
          type: string
          example: 6996e3bde41c7fabbbd3df39619f78bf
        timestamp:
          type: integer
          example: 1631571795.423
        status:
          type: string
          example: success
        details:
          $ref: '#/components/schemas/Model155'
    Model159:
      type: object
      properties:
        statusCode:
          type: number
          example: 400
        error:
          type: string
          example: Bad Request
        validation_errors:
          $ref: '#/components/schemas/Model158'
    Model158:
      type: array
      items:
        $ref: '#/components/schemas/Model157'
    Model52:
      type: object
      properties:
        cardholder_id:
          type: string
          example: A9321328
        rx_group:
          type: string
          example: '006726'
        rx_bin:
          type: string
          example: '997928'
        pcn:
          type: string
          example: AXA
    Model153:
      type: object
      properties:
        cardholder_id:
          type: string
          description: Cardholder ID
          example: A9321328
        rx_group:
          type: string
          example: '006726'
        rx_bin:
          type: string
          example: '997928'
          pattern: ^[0-9]{6}$
        pcn:
          type: string
          description: A processor control number (PCN) is identifier used to route pharmacy reimbursements
          example: AXA
        phone_number:
          type: string
          description: Insurance company phone number
          example: (955) 372-4143
        insurance_card_image_url:
          type: string
          description: Image URL for insurance card
        relationship_code:
          type: integer
          description: Relationship of the patient to the cardholder
          example: 1
          minimum: 0
          maximum: 8
        card_type:
          type: string
          description: Insurance card type
          example: insurance
          enum:
          - insurance
          - savings_card
          - commercial
          - government
          - medicare
          - medicaid
        person_code:
          type: string
          description: Code assigned to a specific individual covered under the policy.
          example: '01'
          maxLength: 3
          x-format:
            alphanum: true
          x-convert:
            case: upper
            trim: true
        coverage_type:
          type: string
          description: Insurance coverage type
          example: insurance
          enum:
          - medicare_bridge
          - medicare_part_d
    Model134:
      type: object
      properties:
        message:
          type: string
          example: Patient not found
    Model215:
      type: object
      properties:
        cardholder_id:
          type: string
          description: Cardholder ID
          example: XBC1009876543
        bin:
          type: string
          description: Bank identification number
          example: '880099'
        group_number:
          type: string
          description: Group number
          example: D96009620
        pcn:
          type: string
          description: Processor control number
          example: SP9E6
        plan_type:
          type: string
          description: Insurance plan type
          example: commercial
          enum:
          - commercial
          - medicare
          - medicaid
          - other
        effective_date:
          type: string
          description: Insurance effective date
          example: '2019-03-01T00:00:00.000Z'
          x-format:
            isoDate: true
        termination_date:
          type: string
          description: Insurance termination date
          example: '2020-02-29T00:00:00.000Z'
          x-format:
            isoDate: true
        payer_name:
          type: string
          description: Insurance payer name
          example: Anthem BC
        person_code:
          type: string
          description: Person code
          example: '03'
        patient_relationship:
          type: string
          description: Patient relationship to subscriber
          example: Child
    Model217:
      type: object
      properties:
        statusCode:
          type: number
          example: 503
        error:
          type: string
          example: Service Unavailable
        message:
          type: string
          example: Surescripts service is currently unavailable
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
x-alt-definitions:
  selected_allergies:
    type: array
    items:
      type: string
  allergies:
    type: object
    properties:
      selected_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      presented_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      free_form_allergy_information:
        type: string
    required:
    - selected_allergies
    - presented_allergies
    - free_form_allergy_information
  Model1:
    type: object
    properties:
      name:
        type: string
      strength:
        type: number
      dosage:
        type: string
      frequency:
        type: string
    required:
    - name
  medications:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model1'
  Model2:
    type: object
    properties:
      type:
        type: string
      year:
        type: number
      reason:
        type: string
    required:
    - type
    - year
    - reason
  events:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model2'
  patient_consent:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
  Model3:
    type: object
    properties:
      insurance_token:
        type: string
        description: Insurance token
        example: adcbc795028c009d
        minLength: 1
      prior_authorization_number:
        type: string
        example: ABC123
        pattern: ^[0-9a-zA-Z]{1,35}$
      other_coverage_code:
        type: string
        example: '8'
        pattern: ^[0-8]{1}$
      submission_clarification_code:
        type: string
        example: '3'
        pattern: ^(?:[1-9]\d?|0)$
    required:
    - insurance_token
  claim_overrides:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model3'
  pricing:
    type: object
    properties:
      ingredient_cost_submitted:
        type: number
        x-constraint:
          greater: 0
          precision: 2
  Model4:
    type: object
    properties:
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      quantity:
        type: number
        example: 8.7
      days_supply:
        type: number
        example: 30
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
      claim_overrides:
        $ref: '#/x-alt-definitions/claim_overrides'
      ndc:
        type: string
        description: National drug code
        example: '71858002504'
        pattern: ^[0-9]{10,11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      copay_limit:
        type: number
        minimum: 0
        x-constraint:
          precision: 2
      pricing:
        $ref: '#/x-alt-definitions/pricing'
    required:
    - prescription_token
    - daw
  insurance_token:
    type: array
    example:
    - skhsyq83rkd3uht9
    - ubqfc1a0a17hjb1c
    - oi4aafwcsv5zzvvj
    minItems: 1
    items:
      type: string
  copay_payment:
    type: object
    properties:
      cardholder_name:
        type: string
        description: Cardholder name
        example: John Doe
      payment_type:
        type: string
      last_four_digits:
        type: string
        example: '4132'
      transaction_amount:
        type: number
      card_type:
        type: string
      transaction_date:
        type: string
      transaction_id:
        type: string
    required:
    - payment_type
  Medication:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
    required:
    - daw
  MedicationArray:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Medication'
  auto_refill:
    type: object
    properties:
      date_provided:
        type: string
        format: date
        description: Date of consent
        example: '2022-05-12'
      consent_statement:
        type: string
        description: Statement confirming consent
        example: I consent
    required:
    - date_provided
    - consent_statement
  Model5:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
      auto_refill:
        $ref: '#/x-alt-definitions/auto_refill'
  Model6:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/Model5'
    required:
    - daw
  Model7:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Model6'
  Shipping Address:
    type: object
    properties:
      name:
        type: string
        minLength: 1
      company:
        type: string
        minLength: 0
      street1:
        type: string
        description: Primary street of the address
        minLength: 1
      street2:
        type: string
        description: Secondary street
        minLength: 0
      city:
        type: string
        description: City
        minLength: 1
      state:
        type: string
        description: State
        minLength: 1
      zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-\d{4})?$
      country:
        type: string
        description: Country
        default: US
        minLength: 1
      phone:
        type: string
        minLength: 0
      email:
        type: string
        minLength: 1
      fax:
        type: string
        minLength: 0
    required:
    - name
    - street1
    - city
    - state
    - zip
    - country
    - email
  shipping_address:
    type: object
    properties:
      phone:
        type: string
        minLength: 0
    required:
    - phone
  external_location:
    type: object
    properties:
      id:
        type: string
        description: 'Stringified UUIDv4.

          See [RFC 4112](https://tools.ietf.org/html/rfc4122)'
        minLength: 0
        pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      pharmacy:
        type: string
        description: References GET /v1/external_location_pharmacies
        minLength: 0
      npi:
        type: string
        description: NPI - likely type 2
        minLength: 0
        maxLength: 10
        pattern: ^[0-9]{10}$
      address_to_street1:
        type: string
        minLength: 0
      address_to_street2:
        type: string
        minLength: 0
      address_to_city:
        type: string
        minLength: 0
      address_to_state:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-?\d{4})?$
      address_to_country:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_phone:
        type: string
        minLength: 0
        pattern: ^(\+)?[1-9]\d{1,14}$
      address_to_fax:
        type: string
        description: The fax number of the address
        minLength: 0
        maxLength: 255
        pattern: ^[1-9]\d{1,14}$
    required:
    - id
    - pharmacy
    - npi
    - address_to_street1
    - address_to_city
    - address_to_state
    - address_to_zip
    - address_to_country
  Model8:
    type: object
    properties:
      ncpdpid:
        type: string
        description: NCPDP ID - National Council for Prescription Drug Programs
        minLength: 0
      distance_from_origin:
        type: number
        description: Approximate distance rounded to nearest 0.01 mile
    required:
    - ncpdpid
