openapi: 3.2.0
info:
  title: Truepill API documentation V1 API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: v1
paths:
  /v1/auto-refill:
    get:
      summary: Get a list of all prescriptions currently subscribed to auto-refill
      operationId: getV1Autorefill
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model15'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
  /v1/availability:
    get:
      summary: Get NDC availability
      operationId: getV1Availability
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/external_location_matches:
    get:
      summary: Search for specific external location using address information
      operationId: getV1External_location_matches
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Query external locations for multiple addresses, and will reply back with a map…
      operationId: postV1External_location_matches
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/external_locations:
    get:
      summary: Search for external locations using zip code
      operationId: getV1External_locations
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/fill_requests:
    get:
      summary: Get a list of fill requests
      operationId: getV1Fill_requests
      description: Returns a list of fill requests and allows for the use of query parameters to scope the results of the request
      parameters:
      - name: created_at
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          maximum: 100
      - name: next
        in: query
        schema:
          type: string
      - name: metadata
        in: query
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model22'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model9'
  /v1/nearby_same_day_pickup_locations:
    get:
      summary: Search for nearby same day pickup locations using address details
      operationId: getV1Nearby_same_day_pickup_locations
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/patient:
    get:
      summary: Patient search
      operationId: getV1Patient
      description: 'While the Get Patient endpoint requires a `patient_token` to retrieve information, you can also retrieve patient information without a `patient_token`, using the Find Patient endpoint.


        Search for patient information by appending the following param fields onto the API endpoint, separated with an `&`:'
      parameters:
      - name: guardian
        in: query
        schema:
          type: string
      - description: Patient title
        name: prefix
        in: query
        schema:
          type: string
          enum:
          - Mr.
          - Ms.
          - Mrs.
          - Miss
          - Ms
          - Prof
          - Sir
      - description: Suffix which qualifies a person
        name: suffix
        in: query
        schema:
          type: string
          enum:
          - Jr.
          - Sr.
          - I
          - II
          - III
          - IV
          - V
      - description: Patient first name
        x-convert:
          trim: true
        name: first_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient last name
        x-convert:
          trim: true
        name: last_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient gender
        name: gender
        in: query
        required: true
        schema:
          type: string
          enum:
          - male
          - female
          - unknown
      - description: Patient's date of birth
        name: dob
        in: query
        required: true
        schema:
          type: string
          format: date
      - description: Postal code where the company is located
        name: zip
        in: query
        schema:
          type: string
          pattern: ^\d{5}(-\d{4})?$
      - name: species
        in: query
        schema:
          type: string
          enum:
          - Human
          - Crocodile
          - Frog
          - Iguana
          - Lizard
          - Snake
          - Tortoise
          - Turtle
          - Spider
          - Other Arthopoda
          - Chicken
          - African Goshawk
          - Budgerigar
          - Cockatiel
          - Cockatoo
          - Common Canary
          - Crow
          - Duck
          - Eagle
          - Goose
          - Guinea Fowl
          - Kestrel
          - Kite
          - Macaw
          - Ostrich
          - Other Aves
          - Owl
          - Parakeet
          - Parrot
          - Partridge
          - Peregrin Falcon
          - Pheasant
          - Pigeon
          - Quail
          - Snipe
          - Sparrow
          - Starling
          - Swan
          - Turtle Dove
          - Bison
          - Cattle/Bovine
          - Buffalo
          - Other Bovinae
          - Alpaca
          - Camel
          - Llama
          - Other Camelidae
          - Dog/Canine
          - Fox
          - Jackal
          - Raccoon Dog
          - Wolf
          - Other Caprinae
          - Goat/Carpine
          - Sheep/Ovine
          - Elk
          - Moose
          - Fallow
          - Other Cervidae
          - Red Deer
          - Reindeer
          - Roe Deer
          - Donkey/Asinine
          - Horse/Equine
          - Hybrid
          - Other Equidae
          - Zebra
          - Bobcat
          - Cougar
          - Puma
          - European Lynx
          - Cat/Feline
          - Jaguar
          - Leopard
          - Lion
          - Other Felidae
          - Tiger
          - Wild Cat
          - European Rabbit
          - Hare
          - Other Leporidae
          - Bivalvia
          - Cephalopoda
          - Other Mollusca
          - Badger
          - Ferret
          - Mink
          - Other Mustelidae
          - Bat
          - Bear
          - Hedgehog
          - Monkey
          - Other Mammalia
          - Arctic Char
          - Atlantic Salmon
          - Brill
          - Carp
          - Catfish
          - Cod
          - Crucian Carp
          - European Eel
          - Gilthead
          - Goldfish
          - Gudgeon
          - Halibut
          - Largemouth Bass
          - Mullet
          - Other Pisces
          - Perch
          - Pike
          - Roach
          - Sea Bream
          - Seabass
          - Sharpsnout Seabream
          - Sole
          - Sturgeon
          - Tench
          - Trout
          - Turbot
          - Rockfish/Wolffish
          - Beaver
          - Chinchilla
          - Dormouse
          - Dwarf Hamster
          - European Hamster
          - Gerbil
          - Guinea Pig
          - House Mouse
          - Other Rodentia
          - Rat
          - Russian Hamster
          - Syrian Hamster
          - Golden Hamster
          - Vole
          - Other Suidae
          - Pig/Porcine
          - Wild Boar
          - Addax
          default: Human
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model23'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    put:
      summary: Create Patient
      operationId: putV1Patient
      description: 'This endpoint generates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns a `patient_token` for you to reference in subsequent API requests that require this field.


        The `patient_token` that is returned upon successfully creating a patient record can be used with many of the other endpoints to continue referencing the same record.


        If the patient information in the request body matches the information in an existing patient record, the existing `patient_token` will be returned in the API response.


        The address and phone number provided should be the same as the information provided to the prescriber on the e-Script. These attributes are only used for matching purposes.'
      tags:
      - v1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model231'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model234'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model230'
  /v1/pharmacy-coverage:
    get:
      summary: Get best suitable Pharmacy Location
      operationId: getV1Pharmacycoverage
      parameters:
      - x-constraint:
          length: 2
        name: ship_to_state
        in: query
        schema:
          type: string
      - name: bin
        in: query
        schema:
          type: string
          pattern: ^[0-9]{6}$
      - name: pcn
        in: query
        schema:
          type: string
      - name: group_number
        in: query
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model25'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
  /v1/same_day_delivery:
    get:
      summary: Get same day delivery orders
      operationId: getV1Same_day_delivery
      parameters:
      - name: next_page_token
        in: query
        schema:
          type: string
          minLength: 0
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - FAILED
          - AWAITING_PICKUP
          - IN_TRANSIT
          - DELIVERED
          - CANCELED
          - INCOMPLETE
      - name: limit
        in: query
        schema:
          type: number
          default: 20
          maximum: 1000
          minimum: 1
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Create a same day delivery order
      operationId: postV1Same_day_delivery
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model173'
  /v1/specialty_pharmacies:
    get:
      summary: Fetch specialty pharmacies based on Rx token (for prescriber NPI) and insurance…
      operationId: getV1Specialty_pharmacies
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/transfer_request:
    get:
      summary: Get a list of Transfers
      operationId: getV1Transfer_request
      description: 'This endpoint retrieves a list of all the transfer requests you have made to the Truepill ecosystem.


        List transfers utilizes an optional pagination functionality when retrieving a large number of transfers. By default, this endpoint retrieves 50 transfers at a time, starting with the earliest transfers.


        For example, if you were looking to retrieve the 70-80th transfers made to Truepill, you would use a pagination of 1 (zero base indexing).


        To paginate, append a `?` at the end of the API endpoint along with the `page=[PAGE_NUMBER]`, and replace


        `[PAGE_NUMBER]` with an integer.


        If the pagination value surpasses the number of transfers in the system, an empty array `[]` will be returned.


        This endpoint retrieves 50 transfers at a time, starting with the earliest-made transfers. If you have a large number of transfers and are looking to retrieve more recent transfers, you will need to paginate.'
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model31'
    post:
      summary: Create a Transfer
      operationId: postV1Transfer_request
      description: 'A transfer request can be created using our `transfer_request` API endpoint. Truepill will provide a receipt confirmation of the request, but please note the subsequent webhook event notifying you of a successful transfer may take 1-3 days.


        The following endpoint requests the transfer of a prescription from a third-party pharmacy to Truepill’s pharmacy. If the prescription in question was generated by a physician contracted by the API User then this endpoint does not need to be called; otherwise this request is necessary for the Fill Request to be fulfilled.


        Note: You MUST send either pharmacy contact information or prescriber contact information to avoid an error.


        If `medications` field is not provided in the request, Truepill will transfer all possible patient prescriptions.'
      tags:
      - v1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model178'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model181'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer%20request'
  /v1/webhook_events:
    get:
      summary: List all Webhook Events
      operationId: getV1Webhook_events
      parameters:
      - x-alternatives:
        - type: string
        - type: array
          items:
            type: string
          collectionFormat: multi
          name: timestamp
        name: timestamp
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          maximum: 100
      - name: next
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model37'
  /v1/auto-refill/{prescription_token}:
    get:
      summary: GET auto refill subscription
      operationId: getV1AutorefillPrescription_token
      parameters:
      - name: prescription_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model43'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
    post:
      summary: Create auto refill subscription for prescription
      operationId: postV1AutorefillPrescription_token
      parameters:
      - name: prescription_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model209'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
    delete:
      summary: Cancel an auto-refill subscription
      operationId: deleteV1AutorefillPrescription_token
      parameters:
      - name: prescription_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model242'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
  /v1/copay_request/{request_id}:
    get:
      summary: Get Copay Request by request_id
      operationId: getV1Copay_requestRequest_id
      description: Get information around an existing Copay Request
      parameters:
      - description: Request id
        name: request_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model45'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model46'
  /v1/direct_transfer/{direct_transfer_token}:
    get:
      summary: Get Direct Transfer by token
      operationId: getV1Direct_transferDirect_transfer_token
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model47'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /v1/external_locations/{id}:
    get:
      summary: Get a specific external location by id
      operationId: getV1External_locationsId
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/external_transfers/{id}:
    get:
      summary: Get external transfer details
      operationId: getV1External_transfersId
      description: 'Get the details of an external transfer


        This endpoints needs the external transfer id to retrieve the right data'
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/fill_request/{url_token}:
    get:
      summary: Get Fill Request by token
      operationId: getV1Fill_requestUrl_token
      description: 'Once a Fill Request has been submitted, you can look up the request payload that was submitted at any time for reference with an API request


        This endpoint requires a `request_token`. You will receive a `request_token` upon a successful Fill Request API submission response in the `request_id` field.'
      parameters:
      - description: URL token
        name: url_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model21'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model50'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model51'
  /v1/insurance/{insurance_token}:
    get:
      summary: Get Insurance details
      operationId: getV1InsuranceInsurance_token
      parameters:
      - description: Insurance token
        name: insurance_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model52'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model53'
  /v1/media/{id}:
    get:
      summary: Get media by id
      operationId: getV1MediaId
      parameters:
      - description: Should be a uuid
        name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model54'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model55'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model56'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model9'
  /v1/open-api/api.yml:
    get:
      summary: Get current OpenAPI spec for Truepill APIs
      operationId: getV1OpenapiApiyml
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/order/{token}:
    get:
      summary: Get Order
      operationId: getV1OrderToken
      description: 'Get the details of an order


        This endpoints needs the url_token to retrieve the right data'
      tags:
      - v1
      responses:
        '400':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: statusCode
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
        '401':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: message
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
        '404':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: statusCode
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: message
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
  /v1/patient/{patient_token}:
    get:
      summary: Get Patient
      operationId: getV1PatientPatient_token
      description: 'Once a patient has been created in the Truepill ecosystem, you can access the patient information at any time using the `patient_token` that was provided on the Create Patient response.


        If the `patient_token` does not map to a patient record, a `404 Not Found` will be returned.


        Querying for patient information that does not belong to you will return an error response.


        Patient SSN and `id_image` information is not viewable through this endpoint'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model58'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    post:
      summary: Update Patient
      operationId: postV1PatientPatient_token
      description: 'This endpoint updates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns the `patient_token` of the patient updated, the timestamp, the status, and a message.


        Only non-required fields can be updated. Submitting a patient''s first name, last name, date of birth, or gender as a field to be updated will be considered a bad request.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model221'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model224'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model219'
  /v1/prescriber/{prescriber_token}:
    get:
      summary: Get Prescriber
      operationId: getV1PrescriberPrescriber_token
      description: Get the prescriber information at any time using the `prescriber_token` that was provided in the Create Prescriber response
      parameters:
      - description: Prescriber token
        name: prescriber_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model60'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model61'
  /v1/prescription/{token}:
    get:
      summary: Get Prescription by token
      operationId: getV1PrescriptionToken
      description: 'Once a specific prescription is in the Truepill ecosystem -- either via eRx, Direct Transfer or Transfer -- the prescription information can be retrieved at any time through an API request.


        This endpoint requires a prescription_token. You will receive a prescription_token through one of the following scenarios:


        A Notify-Rx callback which is sent when a prescription is received by the pharmacy through SureScripts


        A Direct Transfer callback which is sent when a Direct Transfer has been successfully processed


        A Transfer callback which is sent when a Transfer has been successfully processed'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model62'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model63'
  /v1/same_day_delivery/{id}:
    get:
      summary: Get a specific same day delivery order by ID
      operationId: getV1Same_day_deliveryId
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/transfer_request/{token}:
    get:
      summary: Get a Transfer by token
      operationId: getV1Transfer_requestToken
      description: 'Once a transfer has been created in the Truepill ecosystem, you can access the transfer information at any time using the `transfer_token` that was provided on the Create Transfer response.


        If the `transfer_token` does not map to a transfer record, a `404 Not Found` will be returned.


        Querying for transfer information that does not belong to you will return an error response.'
      parameters:
      - description: Transfer token
        name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model68'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model69'
  /v1/webhook_events/{webhook_type}:
    get:
      summary: List NotifyRx Webhook Events
      operationId: getV1Webhook_eventsWebhook_type
      description: 'Webhook Events can be retrieved via API to be reprocessed.


        This endpoint returns a list of webhook events and allows for the use of query parameters to scope the results of the request. A request `payload` represents the request''s timestamp, type, and details. A request''s `delivery_data` represents the request''s status information.


        Supported `webhook_types` are `notify_rx`'
      parameters:
      - name: webhook_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - notify_rx
          - FILE
          - CONSULT
          - CONSULT_TASK
          - CONTACT
          - TRANSFER_OUT
          - VISIT
      - x-alternatives:
        - type: string
        - type: array
          items:
            type: string
          collectionFormat: multi
          name: timestamp
        name: timestamp
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          maximum: 100
      - name: next
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: request_id
        in: query
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model74'
  /v1/auto-refill/patient/{patient_token}:
    get:
      summary: Get a list of all prescriptions currently subscribed to auto-refill for a given…
      operationId: getV1AutorefillPatientPatient_token
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model95'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
  /v1/direct_transfer/{direct_transfer_token}/webhook_events:
    get:
      summary: Get Direct Transfer webhook events by token
      operationId: getV1Direct_transferDirect_transfer_tokenWebhook_events
      description: 'You will receive a Notify Rx Webhook Event for each prescription that is transferred to Truepill.


        After a Direct Transfer Request has been successfully completed, you will receive a Notify Rx Webhook Event for the prescription transferred to Truepill, along with a Direct Transfer webhook event. This will contain the `prescription_token` to utilize the prescription within Truepill.


        If a Direct Transfer is unable to be successfully processed, only an error Direct Transfer webhook event will be sent.


        Direct Transfer Webhook Events are sent with text `DIRECT_TRANSFER` in the `callback_type` field and, like with other webhook events, the `status` field indicating whether or not it was successful.


        In an error webhook event for a Direct Transfer, the `prescription_token` will not be provided as it was unable to be added into the Truepill system.'
      parameters:
      - name: direct_transfer_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model100'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
  /v1/fill_request/{url_token}/webhook_events:
    get:
      summary: Get list of webhook events
      operationId: getV1Fill_requestUrl_tokenWebhook_events
      description: 'Return a list of webhook events and allows for the use of query parameters to scope the results of the request


        A request payload represents the request''s timestamp, type, and details.


        A request''s delivery_data represents the request''s status information.'
      parameters:
      - name: url_token
        in: path
        required: true
        schema:
          type: string
      - name: timestamp
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          maximum: 100
      - name: next
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model103'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model50'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model51'
  /v1/patient/{patient_token}/prescriptions:
    get:
      summary: List Patient Prescriptions
      operationId: getV1PatientPatient_tokenPrescriptions
      description: 'Retrieve the list of Patient''s prescriptions which includes the prescription token, medication name, medication sig, prescriber, date written, refills remaining, current prescription status and the fillable status.


        Patient''s prescriptions must already exist in the Truepill ecosystem in order to be retrieved.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model104'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /v1/patient/{patient_token}/patient_survey:
    get:
      summary: Get Patient Survey
      operationId: getV1PatientPatient_tokenPatient_survey
      description: This endpoint returns the most recent `patient_survey` that was submitted to Truepill
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model105'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /v1/prescription/{prescription_token}/escript:
    get:
      summary: Get Prescription escript by token
      operationId: getV1PrescriptionPrescription_tokenEscript
      description: Get escript data for a particular prescription
      parameters:
      - name: content-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - text/xml
      - name: prescription_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model106'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model63'
  /v1/media/{id}/signed-url/read:
    get:
      summary: Generate signing-url for read file from google storage
      operationId: getV1MediaIdSignedurlRead
      parameters:
      - description: Should be a uuid
        name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123
                pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model55'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model108'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model56'
        '422':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model109'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model9'
  /v1/media/{id}/signed-url/write:
    get:
      summary: Generate signing-url for write file in to google storage
      operationId: getV1MediaIdSignedurlWrite
      parameters:
      - description: Should be a uuid
        name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123
                pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model55'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model108'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model56'
        '422':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model109'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model9'
  /v1/prescription/{prescription_token}/fill/{fill_number}/claims:
    get:
      summary: Get Claim information
      operationId: getV1PrescriptionPrescription_tokenFillFill_numberClaims
      description: 'Get claim information associated with a prescription and that particular fill


        Given a prescription token and a fill number, the claim information associated with a prescription and that particular fill can be retrieved via API


        All claim information correlating to a specific fill is made available here, including claim rejections and reversals. Claim information is displayed in array format, with each object representing a claim record


        If a claim is rejected, NCPDP codes are also displayed for the particular claim rejection within the `claim_reject_codes` field


        Claim records are displayed in chronological order. If no claim information is available for a provided `prescription_token` and `fill_number`, an empty array is returned.'
      parameters:
      - description: Prescription token associated with prescription
        name: prescription_token
        in: path
        required: true
        schema:
          type: string
      - description: Fill number of particular fill
        name: fill_number
        in: path
        required: true
        schema:
          type: number
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model111'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model112'
  /v1/cancel_request:
    post:
      summary: Cancel Fill Request
      operationId: postV1Cancel_request
      description: Cancel a Fill Request whose `request_id` field matches the respective user provided text parameter
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model124'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model125'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model126'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model127'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model118'
  /v1/copay_request:
    post:
      summary: Create Copay Request
      operationId: postV1Copay_request
      description: Generate a Copay Request to retrieve copay information on a patient's prescription(s). We can support multiple insurances on a copay request
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model133'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model130'
  /v1/coverage_request:
    post:
      summary: Create Coverage Request
      operationId: postV1Coverage_request
      description: Generate a Coverage Request for Truepill to investigate whether a patient has any valid plans or benefit details.
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model137'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model135'
  /v1/direct_transfer:
    post:
      summary: Create Direct Transfer
      operationId: postV1Direct_transfer
      description: 'Create a direct pharmacy-to-pharmacy transfer of the prescription


        A direct transfer is a pharmacy-to-pharmacy transfer of the prescription between your pharmacy and a Truepill pharmacy. This method works best for customers that operate their own pharmacies and are looking for a programmatic way to transfer a prescription.


        And similar to a traditional transfer request, there are required fields related to the pharmacist transferring out the prescription, and the pharmacist transferring in the prescription.


        This approach requires a digital copy of the original prescription.'
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model141'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model142'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model143'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDirectTransfer'
  /v1/fill_request:
    post:
      summary: Create Fill Request
      operationId: postV1Fill_request
      description: 'Generate a Fill Request to fill/refill prescriptions and order Over-the-Counter (OTC) products


        The prescriptions and products requested can be shipped to your patient with various shipping methods.


        When making a Fill Request, the patient will be referenced with a `patient_token` being passed into the request body. If you do not have a `patient_token` for your Patient, one can be created using the Patient Create endpoint.


        On a successful submission of the Fill Request, a fill request token will be provided that is used to reference the Fill Request (similar to `prescription_token` and `patient_token`).


        This attribute is returned under the field `request_id`.


        Many fields for the Fill Request may or may not be required depending on what values are passed in. Please reference the field information carefully.


        The `metadata` field acts as a link between the Fill Request in the Truepill and the customer systems. It will be provided in all subsequent Fill Request notifications as the order is processed.'
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model149'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model152'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model147'
  /v1/fuzion_test:
    post:
      summary: Fuzion test endpoint
      operationId: postV1Fuzion_test
      tags:
      - v1
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v1/insurance:
    post:
      summary: Create Insurance
      operationId: postV1Insurance
      description: 'Associate an Insurance with the Patient


        With a Patient created in the Truepill ecosystem, you can associate an Insurance to that patient with the Create Insurance API endpoint using the `patient_token`.


        Upon a successful response, an `insurance_token` is provided that can be used along with the existing `patient_token` for Copay and Fill Requests.


        Truepill supports multiple insurances should a patient provide more than one insurance.'
      tags:
      - v1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model156'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model159'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model154'
  /v1/media:
    post:
      summary: Create media record by file name provided
      operationId: postV1Media
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model160'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model3'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model161'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model9'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMedia'
  /v1/order:
    post:
      summary: Create Order
      operationId: postV1Order
      description: 'Generate an order to fill/refill prescriptions and order Over-the-Counter (OTC) products, allowing multiple patient''s prescriptions to be filled as part of the same order


        The prescriptions and products requested can be shipped to your patient with various shipping methods.


        When making an order, the patients will be referenced with a `patient_token` being passed into the request body, inside the items array. If you do not have a `patient_token` for your patients, they can be created using the Patient Create endpoint.


        On a successful submission of the order, an order token will be provided that is used to reference the Order (similar to `prescription_token` and `patient_token`).


        This attribute is returned under the field `order_id`.


        Many fields for the Order may or may not be required depending on what values are passed in. Please reference the field information carefully.


        The `metadata` field acts as a link between the Order in the Truepill and the customer systems. It will be provided in all subsequent Order notifications as the order is processed.'
      tags:
      - v1
      responses:
        '202':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            description: Response object for order creation
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: request_id
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  description: Unique identifier for the fill request backing this order
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: order_id
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  description: Unique identifier for the order
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: timestamp
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules:
                - name: integer
                  _resolve: []
                  method: integer
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  description: Timestamp of request processing
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: status
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  description: Processing status of the order request
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: details
              schema:
                type: object
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: false
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags:
                  description: Additional processing details
                  unknown: true
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  dependencies: null
                  keys:
                  - key: message
                    schema:
                      type: string
                      $_root:
                        _types: {}
                        version: 17.13.3
                        cache: {}
                      $_temp:
                        ruleset: null
                        whens: {}
                      _ids:
                        _byId: {}
                        _byKey: {}
                        _schemaChain: false
                      _preferences: null
                      _valids:
                        _values: {}
                        _refs: {}
                        _lowercase: {}
                        _override: false
                      _invalids: null
                      _rules:
                      - name: min
                        method: length
                        args:
                          limit: 0
                        operator: '>='
                        _resolve: []
                      _singleRules: {}
                      _refs:
                        refs: []
                      _flags:
                        description: Human-readable status message
                      _cache: null
                      $_terms:
                        alterations: null
                        examples: null
                        externals: null
                        metas: []
                        notes: []
                        shared: null
                        tags: []
                        whens: null
                        replacements: null
                      $_super: {}
                  - key: metadata
                    schema:
                      type: string
                      $_root:
                        _types: {}
                        version: 17.13.3
                        cache: {}
                      $_temp:
                        ruleset: null
                        whens: {}
                      _ids:
                        _byId: {}
                        _byKey: {}
                        _schemaChain: false
                      _preferences: null
                      _valids:
                        _values: {}
                        _refs: {}
                        _lowercase: {}
                        _override: false
                      _invalids: null
                      _rules:
                      - name: min
                        method: length
                        args:
                          limit: 0
                        operator: '>='
                        _resolve: []
                      _singleRules: {}
                      _refs:
                        refs: []
                      _flags:
                        description: Echo of request metadata
                      _cache: null
                      $_terms:
                        alterations: null
                        examples: null
                        externals: null
                        metas: []
                        notes: []
                        shared: null
                        tags: []
                        whens: null
                        replacements: null
                      $_super: {}
                  patterns: null
                  renames: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
        '400':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: statusCode
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
        '401':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: message
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
        '404':
          type: object
          $_root:
            _types: {}
            version: 17.13.3
            cache: {}
          $_temp:
            ruleset: false
            whens: {}
          _ids:
            _byId: {}
            _byKey: {}
            _schemaChain: false
          _refs:
            refs: []
          _flags:
            unknown: true
          $_terms:
            alterations: null
            examples: null
            externals: null
            metas: []
            notes: []
            shared: null
            tags: []
            whens: null
            dependencies: null
            keys:
            - key: statusCode
              schema:
                type: number
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids: null
                _invalids: null
                _rules: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                $_super: {}
            - key: error
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            - key: message
              schema:
                type: string
                $_root:
                  _types: {}
                  version: 17.13.3
                  cache: {}
                $_temp:
                  ruleset: null
                  whens: {}
                _ids:
                  _byId: {}
                  _byKey: {}
                  _schemaChain: false
                _preferences: null
                _valids:
                  _values: {}
                  _refs: {}
                  _lowercase: {}
                  _override: false
                _invalids: null
                _rules:
                - name: min
                  method: length
                  args:
                    limit: 0
                  operator: '>='
                  _resolve: []
                _singleRules: {}
                _refs:
                  refs: []
                _flags: {}
                _cache: null
                $_terms:
                  alterations: null
                  examples: null
                  externals: null
                  metas: []
                  notes: []
                  shared: null
                  tags: []
                  whens: null
                  replacements: null
                $_super: {}
            patterns: null
            renames: null
          $_super: {}
          description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/icd_codes'
  /v1/prescriber:
    post:
      summary: Create Prescriber
      operationId: postV1Prescriber
      description: Create a prescriber in the Truepill ecosystem that is assigned to you as a customer
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model164'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model167'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model163'
  /v1/prior_authorization:
    post:
      summary: Create a Prior Authorization request
      operationId: postV1Prior_authorization
      description: 'A prior authorization can be created by making a Prior Authorization Request.


        Truepill will provide a receipt confirmation of the request, and multiple subsequent webhook events throughout the lifecycle of your PA.'
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model169'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model170'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prior%20Authorization%20Request%20Fields'
  /v1/update_request:
    post:
      summary: Update Fill Request
      operationId: postV1Update_request
      description: 'Amend the fields of an existing Fill Request, such as for correcting an address or changing the shipping method to expedite your order.


        When using this endpoint, all the Fill Request fields must be provided with their appropriate values even if they are not to be updated.'
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model184'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model187'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model182'
  /v1/copay_request/cancel:
    post:
      summary: Cancel Copay Request
      operationId: postV1Copay_requestCancel
      description: Cancel an existing Copay Request if the status is 'Pending' or 'Triage'.
      tags:
      - v1
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model212'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model213'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model210'
  /v1/insurance/eligibility-check:
    post:
      summary: Check Insurance Eligibility
      operationId: postV1InsuranceEligibilitycheck
      description: 'Check patient insurance eligibility


        This endpoint accepts either a patient_token or patient details to check insurance eligibility.


        The request will be forwarded to the Insurance Service for processing.


        Returns an array of insurances.'
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model215'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model216'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model134'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model217'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model218'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model214'
  /v1/auto-refill/{prescription_token}/early-refill:
    post:
      summary: Schedule a one-time order from the auto-refill prescription
      operationId: postV1AutorefillPrescription_tokenEarlyrefill
      parameters:
      - name: prescription_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - v1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model226'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model18'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model19'
  /v1/prescription/discontinue/{prescription_token}:
    post:
      summary: Discontinue a Prescription by token
      operationId: postV1PrescriptionDiscontinuePrescription_token
      description: Discontinue a particular prescription
      tags:
      - v1
      responses:
        '200':
          timestamp:
            type: date
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - '2021-05-20T00:00:00.000Z'
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
            $_super: {}
          status:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - Unsuccessful
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
              replacements: null
            $_super: {}
          message:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - An example error message
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
              replacements: null
            $_super: {}
          description: Successful
          content:
            application/json:
              schema:
                type: string
        '400':
          timestamp:
            type: date
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - '2021-05-20T00:00:00.000Z'
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
            $_super: {}
          status:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - Unsuccessful
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
              replacements: null
            $_super: {}
          message:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - An example error message
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
              replacements: null
            $_super: {}
          description: Bad Request
        '401':
          timestamp:
            type: date
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - '2021-05-20T00:00:00.000Z'
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
            $_super: {}
          status:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
            _ids:
              _byId: {}
              _byKey: {}
              _schemaChain: false
            _preferences: null
            _valids: null
            _invalids: null
            _rules: []
            _singleRules: {}
            _refs:
              refs: []
            _flags: {}
            _cache: null
            $_terms:
              alterations: null
              examples:
              - Unauthorized
              externals: null
              metas: []
              notes: []
              shared: null
              tags: []
              whens: null
              replacements: null
            $_super: {}
          message:
            type: string
            $_root:
              _types: {}
              version: 17.13.3
              cache: {}
            $_temp:
              ruleset: false
              whens: {}
[...]
