openapi: 3.2.0
info:
  title: Truepill API documentation Same Day Delivery API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: Same Day Delivery
paths:
  /v1/same_day_delivery:
    get:
      summary: Get same day delivery orders
      operationId: getV1Same_day_delivery
      parameters:
      - name: next_page_token
        in: query
        schema:
          type: string
          minLength: 0
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - FAILED
          - AWAITING_PICKUP
          - IN_TRANSIT
          - DELIVERED
          - CANCELED
          - INCOMPLETE
      - name: limit
        in: query
        schema:
          type: number
          default: 20
          maximum: 1000
          minimum: 1
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Create a same day delivery order
      operationId: postV1Same_day_delivery
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model173'
  /api/v1/same_day_delivery:
    get:
      summary: Get same day delivery orders
      operationId: getApiV1Same_day_delivery
      parameters:
      - name: next_page_token
        in: query
        schema:
          type: string
          minLength: 0
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - FAILED
          - AWAITING_PICKUP
          - IN_TRANSIT
          - DELIVERED
          - CANCELED
          - INCOMPLETE
      - name: limit
        in: query
        schema:
          type: number
          default: 20
          maximum: 1000
          minimum: 1
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Create a same day delivery order
      operationId: postApiV1Same_day_delivery
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model173'
  /v1/same_day_delivery/{id}:
    get:
      summary: Get a specific same day delivery order by ID
      operationId: getV1Same_day_deliveryId
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/v1/same_day_delivery/{id}:
    get:
      summary: Get a specific same day delivery order by ID
      operationId: getApiV1Same_day_deliveryId
      tags:
      - Same Day Delivery
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Model173:
      type: object
      properties:
        patient_token:
          type: string
          minLength: 0
        prescription_tokens:
          $ref: '#/components/schemas/prescription_tokens'
        shipping_address:
          $ref: '#/components/schemas/Shipping%20Address'
          x-alternatives:
          - $ref: '#/x-alt-definitions/Shipping%20Address'
          - $ref: '#/x-alt-definitions/shipping_address'
        external_location:
          $ref: '#/components/schemas/Model171'
          x-alternatives:
          - $ref: '#/x-alt-definitions/external_location'
          - $ref: '#/x-alt-definitions/Model8'
        insurance_tokens:
          $ref: '#/components/schemas/Model172'
        delivery_instruction:
          type: string
          minLength: 0
          maxLength: 280
      required:
      - patient_token
      - prescription_tokens
      - shipping_address
      - external_location
    Model172:
      type: array
      items:
        type: string
        minLength: 0
    prescription_tokens:
      type: array
      items:
        type: string
        minLength: 0
        pattern: '[a-f0-9]{8,16}'
    Model171:
      type: object
      properties:
        id:
          type: string
          description: 'Stringified UUIDv4.

            See [RFC 4112](https://tools.ietf.org/html/rfc4122)'
          minLength: 0
          pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
        pharmacy:
          type: string
          description: References GET /v1/external_location_pharmacies
          minLength: 0
        npi:
          type: string
          description: NPI - likely type 2
          minLength: 0
          maxLength: 10
          pattern: ^[0-9]{10}$
        address_to_street1:
          type: string
          minLength: 0
        address_to_street2:
          type: string
          minLength: 0
        address_to_city:
          type: string
          minLength: 0
        address_to_state:
          type: string
          minLength: 0
          pattern: ^[A-Z]{2}$
        address_to_zip:
          type: string
          minLength: 0
          pattern: ^\d{5}(-?\d{4})?$
        address_to_country:
          type: string
          minLength: 0
          pattern: ^[A-Z]{2}$
        address_to_phone:
          type: string
          minLength: 0
          pattern: ^(\+)?[1-9]\d{1,14}$
        address_to_fax:
          type: string
          description: The fax number of the address
          minLength: 0
          maxLength: 255
          pattern: ^[1-9]\d{1,14}$
      required:
      - id
      - pharmacy
      - npi
      - address_to_street1
      - address_to_city
      - address_to_state
      - address_to_zip
      - address_to_country
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
x-alt-definitions:
  selected_allergies:
    type: array
    items:
      type: string
  allergies:
    type: object
    properties:
      selected_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      presented_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      free_form_allergy_information:
        type: string
    required:
    - selected_allergies
    - presented_allergies
    - free_form_allergy_information
  Model1:
    type: object
    properties:
      name:
        type: string
      strength:
        type: number
      dosage:
        type: string
      frequency:
        type: string
    required:
    - name
  medications:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model1'
  Model2:
    type: object
    properties:
      type:
        type: string
      year:
        type: number
      reason:
        type: string
    required:
    - type
    - year
    - reason
  events:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model2'
  patient_consent:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
  Model3:
    type: object
    properties:
      insurance_token:
        type: string
        description: Insurance token
        example: adcbc795028c009d
        minLength: 1
      prior_authorization_number:
        type: string
        example: ABC123
        pattern: ^[0-9a-zA-Z]{1,35}$
      other_coverage_code:
        type: string
        example: '8'
        pattern: ^[0-8]{1}$
      submission_clarification_code:
        type: string
        example: '3'
        pattern: ^(?:[1-9]\d?|0)$
    required:
    - insurance_token
  claim_overrides:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model3'
  pricing:
    type: object
    properties:
      ingredient_cost_submitted:
        type: number
        x-constraint:
          greater: 0
          precision: 2
  Model4:
    type: object
    properties:
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      quantity:
        type: number
        example: 8.7
      days_supply:
        type: number
        example: 30
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
      claim_overrides:
        $ref: '#/x-alt-definitions/claim_overrides'
      ndc:
        type: string
        description: National drug code
        example: '71858002504'
        pattern: ^[0-9]{10,11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      copay_limit:
        type: number
        minimum: 0
        x-constraint:
          precision: 2
      pricing:
        $ref: '#/x-alt-definitions/pricing'
    required:
    - prescription_token
    - daw
  insurance_token:
    type: array
    example:
    - skhsyq83rkd3uht9
    - ubqfc1a0a17hjb1c
    - oi4aafwcsv5zzvvj
    minItems: 1
    items:
      type: string
  copay_payment:
    type: object
    properties:
      cardholder_name:
        type: string
        description: Cardholder name
        example: John Doe
      payment_type:
        type: string
      last_four_digits:
        type: string
        example: '4132'
      transaction_amount:
        type: number
      card_type:
        type: string
      transaction_date:
        type: string
      transaction_id:
        type: string
    required:
    - payment_type
  Medication:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
    required:
    - daw
  MedicationArray:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Medication'
  auto_refill:
    type: object
    properties:
      date_provided:
        type: string
        format: date
        description: Date of consent
        example: '2022-05-12'
      consent_statement:
        type: string
        description: Statement confirming consent
        example: I consent
    required:
    - date_provided
    - consent_statement
  Model5:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
      auto_refill:
        $ref: '#/x-alt-definitions/auto_refill'
  Model6:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/Model5'
    required:
    - daw
  Model7:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Model6'
  Shipping Address:
    type: object
    properties:
      name:
        type: string
        minLength: 1
      company:
        type: string
        minLength: 0
      street1:
        type: string
        description: Primary street of the address
        minLength: 1
      street2:
        type: string
        description: Secondary street
        minLength: 0
      city:
        type: string
        description: City
        minLength: 1
      state:
        type: string
        description: State
        minLength: 1
      zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-\d{4})?$
      country:
        type: string
        description: Country
        default: US
        minLength: 1
      phone:
        type: string
        minLength: 0
      email:
        type: string
        minLength: 1
      fax:
        type: string
        minLength: 0
    required:
    - name
    - street1
    - city
    - state
    - zip
    - country
    - email
  shipping_address:
    type: object
    properties:
      phone:
        type: string
        minLength: 0
    required:
    - phone
  external_location:
    type: object
    properties:
      id:
        type: string
        description: 'Stringified UUIDv4.

          See [RFC 4112](https://tools.ietf.org/html/rfc4122)'
        minLength: 0
        pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      pharmacy:
        type: string
        description: References GET /v1/external_location_pharmacies
        minLength: 0
      npi:
        type: string
        description: NPI - likely type 2
        minLength: 0
        maxLength: 10
        pattern: ^[0-9]{10}$
      address_to_street1:
        type: string
        minLength: 0
      address_to_street2:
        type: string
        minLength: 0
      address_to_city:
        type: string
        minLength: 0
      address_to_state:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-?\d{4})?$
      address_to_country:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_phone:
        type: string
        minLength: 0
        pattern: ^(\+)?[1-9]\d{1,14}$
      address_to_fax:
        type: string
        description: The fax number of the address
        minLength: 0
        maxLength: 255
        pattern: ^[1-9]\d{1,14}$
    required:
    - id
    - pharmacy
    - npi
    - address_to_street1
    - address_to_city
    - address_to_state
    - address_to_zip
    - address_to_country
  Model8:
    type: object
    properties:
      ncpdpid:
        type: string
        description: NCPDP ID - National Council for Prescription Drug Programs
        minLength: 0
      distance_from_origin:
        type: number
        description: Approximate distance rounded to nearest 0.01 mile
    required:
    - ncpdpid
