openapi: 3.2.0
info:
  title: Truepill API documentation Patient API
  version: 0.0.1
  description: DOCS
servers:
- url: https://rxapi.fuzehealth.com/
- url: http://rxapi.fuzehealth.com/
security:
- apiKey: []
tags:
- name: Patient
paths:
  /v1/patient:
    get:
      summary: Patient search
      operationId: getV1Patient
      description: 'While the Get Patient endpoint requires a `patient_token` to retrieve information, you can also retrieve patient information without a `patient_token`, using the Find Patient endpoint.


        Search for patient information by appending the following param fields onto the API endpoint, separated with an `&`:'
      parameters:
      - name: guardian
        in: query
        schema:
          type: string
      - description: Patient title
        name: prefix
        in: query
        schema:
          type: string
          enum:
          - Mr.
          - Ms.
          - Mrs.
          - Miss
          - Ms
          - Prof
          - Sir
      - description: Suffix which qualifies a person
        name: suffix
        in: query
        schema:
          type: string
          enum:
          - Jr.
          - Sr.
          - I
          - II
          - III
          - IV
          - V
      - description: Patient first name
        x-convert:
          trim: true
        name: first_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient last name
        x-convert:
          trim: true
        name: last_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient gender
        name: gender
        in: query
        required: true
        schema:
          type: string
          enum:
          - male
          - female
          - unknown
      - description: Patient's date of birth
        name: dob
        in: query
        required: true
        schema:
          type: string
          format: date
      - description: Postal code where the company is located
        name: zip
        in: query
        schema:
          type: string
          pattern: ^\d{5}(-\d{4})?$
      - name: species
        in: query
        schema:
          type: string
          enum:
          - Human
          - Crocodile
          - Frog
          - Iguana
          - Lizard
          - Snake
          - Tortoise
          - Turtle
          - Spider
          - Other Arthopoda
          - Chicken
          - African Goshawk
          - Budgerigar
          - Cockatiel
          - Cockatoo
          - Common Canary
          - Crow
          - Duck
          - Eagle
          - Goose
          - Guinea Fowl
          - Kestrel
          - Kite
          - Macaw
          - Ostrich
          - Other Aves
          - Owl
          - Parakeet
          - Parrot
          - Partridge
          - Peregrin Falcon
          - Pheasant
          - Pigeon
          - Quail
          - Snipe
          - Sparrow
          - Starling
          - Swan
          - Turtle Dove
          - Bison
          - Cattle/Bovine
          - Buffalo
          - Other Bovinae
          - Alpaca
          - Camel
          - Llama
          - Other Camelidae
          - Dog/Canine
          - Fox
          - Jackal
          - Raccoon Dog
          - Wolf
          - Other Caprinae
          - Goat/Carpine
          - Sheep/Ovine
          - Elk
          - Moose
          - Fallow
          - Other Cervidae
          - Red Deer
          - Reindeer
          - Roe Deer
          - Donkey/Asinine
          - Horse/Equine
          - Hybrid
          - Other Equidae
          - Zebra
          - Bobcat
          - Cougar
          - Puma
          - European Lynx
          - Cat/Feline
          - Jaguar
          - Leopard
          - Lion
          - Other Felidae
          - Tiger
          - Wild Cat
          - European Rabbit
          - Hare
          - Other Leporidae
          - Bivalvia
          - Cephalopoda
          - Other Mollusca
          - Badger
          - Ferret
          - Mink
          - Other Mustelidae
          - Bat
          - Bear
          - Hedgehog
          - Monkey
          - Other Mammalia
          - Arctic Char
          - Atlantic Salmon
          - Brill
          - Carp
          - Catfish
          - Cod
          - Crucian Carp
          - European Eel
          - Gilthead
          - Goldfish
          - Gudgeon
          - Halibut
          - Largemouth Bass
          - Mullet
          - Other Pisces
          - Perch
          - Pike
          - Roach
          - Sea Bream
          - Seabass
          - Sharpsnout Seabream
          - Sole
          - Sturgeon
          - Tench
          - Trout
          - Turbot
          - Rockfish/Wolffish
          - Beaver
          - Chinchilla
          - Dormouse
          - Dwarf Hamster
          - European Hamster
          - Gerbil
          - Guinea Pig
          - House Mouse
          - Other Rodentia
          - Rat
          - Russian Hamster
          - Syrian Hamster
          - Golden Hamster
          - Vole
          - Other Suidae
          - Pig/Porcine
          - Wild Boar
          - Addax
          default: Human
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model23'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    put:
      summary: Create Patient
      operationId: putV1Patient
      description: 'This endpoint generates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns a `patient_token` for you to reference in subsequent API requests that require this field.


        The `patient_token` that is returned upon successfully creating a patient record can be used with many of the other endpoints to continue referencing the same record.


        If the patient information in the request body matches the information in an existing patient record, the existing `patient_token` will be returned in the API response.


        The address and phone number provided should be the same as the information provided to the prescriber on the e-Script. These attributes are only used for matching purposes.'
      tags:
      - Patient
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model231'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model234'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model230'
  /api/v1/patient:
    get:
      summary: Patient search
      operationId: getApiV1Patient
      description: 'While the Get Patient endpoint requires a `patient_token` to retrieve information, you can also retrieve patient information without a `patient_token`, using the Find Patient endpoint.


        Search for patient information by appending the following param fields onto the API endpoint, separated with an `&`:'
      parameters:
      - name: guardian
        in: query
        schema:
          type: string
      - description: Patient title
        name: prefix
        in: query
        schema:
          type: string
          enum:
          - Mr.
          - Ms.
          - Mrs.
          - Miss
          - Ms
          - Prof
          - Sir
      - description: Suffix which qualifies a person
        name: suffix
        in: query
        schema:
          type: string
          enum:
          - Jr.
          - Sr.
          - I
          - II
          - III
          - IV
          - V
      - description: Patient first name
        x-convert:
          trim: true
        name: first_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient last name
        x-convert:
          trim: true
        name: last_name
        in: query
        required: true
        schema:
          type: string
      - description: Patient gender
        name: gender
        in: query
        required: true
        schema:
          type: string
          enum:
          - male
          - female
          - unknown
      - description: Patient's date of birth
        name: dob
        in: query
        required: true
        schema:
          type: string
          format: date
      - description: Postal code where the company is located
        name: zip
        in: query
        schema:
          type: string
          pattern: ^\d{5}(-\d{4})?$
      - name: species
        in: query
        schema:
          type: string
          enum:
          - Human
          - Crocodile
          - Frog
          - Iguana
          - Lizard
          - Snake
          - Tortoise
          - Turtle
          - Spider
          - Other Arthopoda
          - Chicken
          - African Goshawk
          - Budgerigar
          - Cockatiel
          - Cockatoo
          - Common Canary
          - Crow
          - Duck
          - Eagle
          - Goose
          - Guinea Fowl
          - Kestrel
          - Kite
          - Macaw
          - Ostrich
          - Other Aves
          - Owl
          - Parakeet
          - Parrot
          - Partridge
          - Peregrin Falcon
          - Pheasant
          - Pigeon
          - Quail
          - Snipe
          - Sparrow
          - Starling
          - Swan
          - Turtle Dove
          - Bison
          - Cattle/Bovine
          - Buffalo
          - Other Bovinae
          - Alpaca
          - Camel
          - Llama
          - Other Camelidae
          - Dog/Canine
          - Fox
          - Jackal
          - Raccoon Dog
          - Wolf
          - Other Caprinae
          - Goat/Carpine
          - Sheep/Ovine
          - Elk
          - Moose
          - Fallow
          - Other Cervidae
          - Red Deer
          - Reindeer
          - Roe Deer
          - Donkey/Asinine
          - Horse/Equine
          - Hybrid
          - Other Equidae
          - Zebra
          - Bobcat
          - Cougar
          - Puma
          - European Lynx
          - Cat/Feline
          - Jaguar
          - Leopard
          - Lion
          - Other Felidae
          - Tiger
          - Wild Cat
          - European Rabbit
          - Hare
          - Other Leporidae
          - Bivalvia
          - Cephalopoda
          - Other Mollusca
          - Badger
          - Ferret
          - Mink
          - Other Mustelidae
          - Bat
          - Bear
          - Hedgehog
          - Monkey
          - Other Mammalia
          - Arctic Char
          - Atlantic Salmon
          - Brill
          - Carp
          - Catfish
          - Cod
          - Crucian Carp
          - European Eel
          - Gilthead
          - Goldfish
          - Gudgeon
          - Halibut
          - Largemouth Bass
          - Mullet
          - Other Pisces
          - Perch
          - Pike
          - Roach
          - Sea Bream
          - Seabass
          - Sharpsnout Seabream
          - Sole
          - Sturgeon
          - Tench
          - Trout
          - Turbot
          - Rockfish/Wolffish
          - Beaver
          - Chinchilla
          - Dormouse
          - Dwarf Hamster
          - European Hamster
          - Gerbil
          - Guinea Pig
          - House Mouse
          - Other Rodentia
          - Rat
          - Russian Hamster
          - Syrian Hamster
          - Golden Hamster
          - Vole
          - Other Suidae
          - Pig/Porcine
          - Wild Boar
          - Addax
          default: Human
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model23'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    put:
      summary: Create Patient
      operationId: putApiV1Patient
      description: 'This endpoint generates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns a `patient_token` for you to reference in subsequent API requests that require this field.


        The `patient_token` that is returned upon successfully creating a patient record can be used with many of the other endpoints to continue referencing the same record.


        If the patient information in the request body matches the information in an existing patient record, the existing `patient_token` will be returned in the API response.


        The address and phone number provided should be the same as the information provided to the prescriber on the e-Script. These attributes are only used for matching purposes.'
      tags:
      - Patient
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model231'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model234'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model230'
  /v1/patient/{patient_token}:
    get:
      summary: Get Patient
      operationId: getV1PatientPatient_token
      description: 'Once a patient has been created in the Truepill ecosystem, you can access the patient information at any time using the `patient_token` that was provided on the Create Patient response.


        If the `patient_token` does not map to a patient record, a `404 Not Found` will be returned.


        Querying for patient information that does not belong to you will return an error response.


        Patient SSN and `id_image` information is not viewable through this endpoint'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model58'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    post:
      summary: Update Patient
      operationId: postV1PatientPatient_token
      description: 'This endpoint updates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns the `patient_token` of the patient updated, the timestamp, the status, and a message.


        Only non-required fields can be updated. Submitting a patient''s first name, last name, date of birth, or gender as a field to be updated will be considered a bad request.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model221'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model224'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model219'
  /api/v1/patient/{patient_token}:
    get:
      summary: Get Patient
      operationId: getApiV1PatientPatient_token
      description: 'Once a patient has been created in the Truepill ecosystem, you can access the patient information at any time using the `patient_token` that was provided on the Create Patient response.


        If the `patient_token` does not map to a patient record, a `404 Not Found` will be returned.


        Querying for patient information that does not belong to you will return an error response.


        Patient SSN and `id_image` information is not viewable through this endpoint'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model58'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
    post:
      summary: Update Patient
      operationId: postApiV1PatientPatient_token
      description: 'This endpoint updates a patient record in the Truepill ecosystem.


        Upon a successful request, the endpoint returns the `patient_token` of the patient updated, the timestamp, the status, and a message.


        Only non-required fields can be updated. Submitting a patient''s first name, last name, date of birth, or gender as a field to be updated will be considered a bad request.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model221'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model224'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model219'
  /v1/patient/{patient_token}/prescriptions:
    get:
      summary: List Patient Prescriptions
      operationId: getV1PatientPatient_tokenPrescriptions
      description: 'Retrieve the list of Patient''s prescriptions which includes the prescription token, medication name, medication sig, prescriber, date written, refills remaining, current prescription status and the fillable status.


        Patient''s prescriptions must already exist in the Truepill ecosystem in order to be retrieved.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model104'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /v1/patient/{patient_token}/patient_survey:
    get:
      summary: Get Patient Survey
      operationId: getV1PatientPatient_tokenPatient_survey
      description: This endpoint returns the most recent `patient_survey` that was submitted to Truepill
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model105'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /api/v1/patient/{patient_token}/patient_survey:
    get:
      summary: Get Patient Survey
      operationId: getApiV1PatientPatient_tokenPatient_survey
      description: This endpoint returns the most recent `patient_survey` that was submitted to Truepill
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model105'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /api/v1/patient/{patient_token}/prescriptions:
    get:
      summary: List Patient Prescriptions
      operationId: getApiV1PatientPatient_tokenPrescriptions
      description: 'Retrieve the list of Patient''s prescriptions which includes the prescription token, medication name, medication sig, prescriber, date written, refills remaining, current prescription status and the fillable status.


        Patient''s prescriptions must already exist in the Truepill ecosystem in order to be retrieved.'
      parameters:
      - name: patient_token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Patient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model104'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
components:
  schemas:
    Model24:
      type: object
      properties:
        statusCode:
          type: number
          example: 404
        error:
          type: string
          example: Not Found
        message:
          type: string
          example: Unable to find Patient.
    Model23:
      type: object
      properties:
        guardian:
          type: string
        prefix:
          type: string
          description: Patient title
          example: Mr
          enum:
          - Mr.
          - Ms.
          - Mrs.
          - Miss
          - Ms
          - Prof
          - Sir
        suffix:
          type: string
          description: Suffix which qualifies a person
          example: Jr.
          enum:
          - Jr.
          - Sr.
          - I
          - II
          - III
          - IV
          - V
        first_name:
          type: string
          description: Patient first name
          example: Lola
          x-convert:
            trim: true
        last_name:
          type: string
          description: Patient last name
          example: Martin
          x-convert:
            trim: true
        gender:
          type: string
          description: Patient gender
          example: female
          enum:
          - male
          - female
          - unknown
        dob:
          type: string
          format: date
          description: Patient's date of birth
          example: '20180401'
        zip:
          type: string
          description: Postal code where the company is located
          example: '94538'
          pattern: ^\d{5}(-\d{4})?$
        species:
          type: string
          example: sparrow
          default: Human
          enum:
          - Human
          - Crocodile
          - Frog
          - Iguana
          - Lizard
          - Snake
          - Tortoise
          - Turtle
          - Spider
          - Other Arthopoda
          - Chicken
          - African Goshawk
          - Budgerigar
          - Cockatiel
          - Cockatoo
          - Common Canary
          - Crow
          - Duck
          - Eagle
          - Goose
          - Guinea Fowl
          - Kestrel
          - Kite
          - Macaw
          - Ostrich
          - Other Aves
          - Owl
          - Parakeet
          - Parrot
          - Partridge
          - Peregrin Falcon
          - Pheasant
          - Pigeon
          - Quail
          - Snipe
          - Sparrow
          - Starling
          - Swan
          - Turtle Dove
          - Bison
          - Cattle/Bovine
          - Buffalo
          - Other Bovinae
          - Alpaca
          - Camel
          - Llama
          - Other Camelidae
          - Dog/Canine
          - Fox
          - Jackal
          - Raccoon Dog
          - Wolf
          - Other Caprinae
          - Goat/Carpine
          - Sheep/Ovine
          - Elk
          - Moose
          - Fallow
          - Other Cervidae
          - Red Deer
          - Reindeer
          - Roe Deer
          - Donkey/Asinine
          - Horse/Equine
          - Hybrid
          - Other Equidae
          - Zebra
          - Bobcat
          - Cougar
          - Puma
          - European Lynx
          - Cat/Feline
          - Jaguar
          - Leopard
          - Lion
          - Other Felidae
          - Tiger
          - Wild Cat
          - European Rabbit
          - Hare
          - Other Leporidae
          - Bivalvia
          - Cephalopoda
          - Other Mollusca
          - Badger
          - Ferret
          - Mink
          - Other Mustelidae
          - Bat
          - Bear
          - Hedgehog
          - Monkey
          - Other Mammalia
          - Arctic Char
          - Atlantic Salmon
          - Brill
          - Carp
          - Catfish
          - Cod
          - Crucian Carp
          - European Eel
          - Gilthead
          - Goldfish
          - Gudgeon
          - Halibut
          - Largemouth Bass
          - Mullet
          - Other Pisces
          - Perch
          - Pike
          - Roach
          - Sea Bream
          - Seabass
          - Sharpsnout Seabream
          - Sole
          - Sturgeon
          - Tench
          - Trout
          - Turbot
          - Rockfish/Wolffish
          - Beaver
          - Chinchilla
          - Dormouse
          - Dwarf Hamster
          - European Hamster
          - Gerbil
          - Guinea Pig
          - House Mouse
          - Other Rodentia
          - Rat
          - Russian Hamster
          - Syrian Hamster
          - Golden Hamster
          - Vole
          - Other Suidae
          - Pig/Porcine
          - Wild Boar
          - Addax
      required:
      - first_name
      - last_name
      - gender
      - dob
    Prescription:
      type: object
      properties:
        date_written:
          type: string
          format: date
          description: When the prescribed was written
          example: '2021-09-11T13:09:27.000Z'
        days_supply:
          type: string
          description: Days supply
          example: '90'
        is_refill:
          type: number
          description: Is prescription a refill or new fill?
          example: 0
        last_filled_date:
          type: string
          format: date
          description: When prescription was last filled (null if not)
          example: '2022-08-03T13:09:27.000Z'
        expiration_date_utc:
          type: string
          format: date
          description: When the prescription will expire
          example: '2022-09-11T13:09:27.000Z'
        medication_sig:
          type: string
          description: Instructions for taking medication
          example: Use as directed for 90 days.
        number_of_refills_allowed:
          type: string
          description: Number of refills allowed for prescription
          example: 2
        prescribed_brand_name:
          type: string
          description: Name of medication prescribed
          example: Viagra
        prescribed_drug_strength:
          type: string
          description: Drug strength prescribed
          example: 10 mg
        prescribed_generic_name:
          type: string
          description: Name of generic medication prescribed
          example: Generic 10mg tablet
        prescribed_ndc:
          type: string
          description: NDC of prescribed medication
          example: '51580000807'
          pattern: ^[0-9]{4,5}-[0-9]{3,4}-[0-9]{1,3}$
        prescribed_quantity:
          type: string
          description: Quantity of prescribed medication
          example: 1
        prescribed_written_name:
          type: string
          description: Name of medication prescribed as written
          example: Sildenafil
        prescriber:
          type: string
          description: Name of prescriber
          example: Molly
        prescriber_npi:
          type: string
          description: NPI of prescriber
          example: '1111111111'
        quantity_remaining:
          type: string
          description: Quantity of doses remaining on prescription
          example: 84
        refills_remaining:
          type: string
          description: Number of refills on this prescription
          example: 2
        rx_number:
          type: string
          description: Rx number of prescription
          example: '111110000'
        origin:
          type: string
          description: Original source of prescription
          example: Electronic
        prescriber_order_number:
          type: string
          description: Prescriber order number of escript
          example: '2222222'
        original_prescribed_ndc:
          type: string
          description: NDC of prescribed medication as originally written on eScript (if applicable)
          example: '51580000807'
          pattern: ^[0-9]{4,5}-[0-9]{3,4}-[0-9]{1,3}$
        date_filled_utc:
          type: string
          format: date
          description: When prescription was last filled (null if not)
          example: '2021-10-13T10:13:42Z'
        prescription_token:
          type: string
          description: Token to reference the prescription
          example: deb071563ead
        medication_name:
          type: string
          description: Medication name
          example: Sildenafil
        fillable:
          type: boolean
          description: Is this prescription fillable (has not expired, been transferred-out, etc.)
          example: true
    Model104:
      type: object
      properties:
        patient_token:
          type: string
          example: 55d8131974c7af33
        prescriptions:
          $ref: '#/components/schemas/Prescriptions'
    Model231:
      type: object
      properties:
        patient_token:
          type: string
          example: a35be240f1f5da6b
    Model219:
      type: object
      properties:
        company:
          type: string
          description: Name of company associated with patient (if applicable)
          example: True Pill
          x-convert:
            trim: true
        street1:
          type: string
          description: Street 1 of patient’s address
          example: 123 Some Lane
          x-convert:
            trim: true
        street2:
          type: string
          description: Street 2 of patient’s address (if applicable)
          example: Apt. 123
          x-convert:
            trim: true
        city:
          type: string
          description: City of patient’s address
          example: Los Angeles
          x-convert:
            trim: true
        state:
          type: string
          description: State of patient’s address, two-letter abbreviation
          example: CA
          x-convert:
            trim: true
        country:
          type: string
          default: US
          x-convert:
            trim: true
        zip:
          type: string
          description: Patient’s zip code
          example: '94402'
          pattern: ^\d{5}(-\d{4})?$
        phone:
          type: string
          description: Patient’s phone number
          example: 430-304-3949
        email:
          type: string
          description: Patient’s email address
          example: hulkout@hulk.com
          x-format:
            email: true
          x-convert:
            trim: true
        ssn:
          type: string
          description: Social Security Number
          example: '123456789'
          pattern: ^\d{3}\d{2}\d{4}$
        ssn_serial:
          type: string
          description: Social Security Number (last 4 digits)
          example: '6789'
          pattern: ^\d{4}$
        communications_opt_in:
          type: boolean
          example: false
        language_preference:
          type: string
          description: Patient’s preferred language
          example: English
        id_image:
          type: string
          description: URL for image of user ID
        mbi:
          type: string
          description: Medicare Beneficiary ID
          pattern: ^[1-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z0-9][0-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z0-9][0-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z][0-9][0-9]$
        viewed_notice_of_privacy_practices:
          type: boolean
        viewed_notice_of_privacy_practices_date:
          type: string
          description: Date NOPP was received
          example: '20180401'
          pattern: ^((1|2)\d{3}[01][0-9][0-3][0-9]$)
    Prescriptions:
      type: array
      items:
        $ref: '#/components/schemas/Prescription'
    Model233:
      type: array
      items:
        $ref: '#/components/schemas/Model232'
    Model232:
      type: object
      properties:
        key:
          type: string
          example: gender
        message:
          type: string
          example: is required
    Model230:
      type: object
      properties:
        guardian:
          type: string
        prefix:
          type: string
          description: Patient title
          example: Mr
          enum:
          - Mr.
          - Ms.
          - Mrs.
          - Miss
          - Ms
          - Prof
          - Sir
        suffix:
          type: string
          description: Suffix which qualifies a person
          example: Jr.
          enum:
          - Jr.
          - Sr.
          - I
          - II
          - III
          - IV
          - V
        first_name:
          type: string
          description: Patient first name
          example: Lola
          x-convert:
            trim: true
        last_name:
          type: string
          description: Patient last name
          example: Martin
          x-convert:
            trim: true
        gender:
          type: string
          description: Patient gender
          example: female
          enum:
          - male
          - female
          - unknown
        dob:
          type: string
          format: date
          description: Patient's date of birth
          example: '20180401'
        zip:
          type: string
          description: Patient’s zip code
          example: '94402'
          pattern: ^\d{5}(-\d{4})?$
        species:
          type: string
          example: sparrow
          default: Human
          enum:
          - Human
          - Crocodile
          - Frog
          - Iguana
          - Lizard
          - Snake
          - Tortoise
          - Turtle
          - Spider
          - Other Arthopoda
          - Chicken
          - African Goshawk
          - Budgerigar
          - Cockatiel
          - Cockatoo
          - Common Canary
          - Crow
          - Duck
          - Eagle
          - Goose
          - Guinea Fowl
          - Kestrel
          - Kite
          - Macaw
          - Ostrich
          - Other Aves
          - Owl
          - Parakeet
          - Parrot
          - Partridge
          - Peregrin Falcon
          - Pheasant
          - Pigeon
          - Quail
          - Snipe
          - Sparrow
          - Starling
          - Swan
          - Turtle Dove
          - Bison
          - Cattle/Bovine
          - Buffalo
          - Other Bovinae
          - Alpaca
          - Camel
          - Llama
          - Other Camelidae
          - Dog/Canine
          - Fox
          - Jackal
          - Raccoon Dog
          - Wolf
          - Other Caprinae
          - Goat/Carpine
          - Sheep/Ovine
          - Elk
          - Moose
          - Fallow
          - Other Cervidae
          - Red Deer
          - Reindeer
          - Roe Deer
          - Donkey/Asinine
          - Horse/Equine
          - Hybrid
          - Other Equidae
          - Zebra
          - Bobcat
          - Cougar
          - Puma
          - European Lynx
          - Cat/Feline
          - Jaguar
          - Leopard
          - Lion
          - Other Felidae
          - Tiger
          - Wild Cat
          - European Rabbit
          - Hare
          - Other Leporidae
          - Bivalvia
          - Cephalopoda
          - Other Mollusca
          - Badger
          - Ferret
          - Mink
          - Other Mustelidae
          - Bat
          - Bear
          - Hedgehog
          - Monkey
          - Other Mammalia
          - Arctic Char
          - Atlantic Salmon
          - Brill
          - Carp
          - Catfish
          - Cod
          - Crucian Carp
          - European Eel
          - Gilthead
          - Goldfish
          - Gudgeon
          - Halibut
          - Largemouth Bass
          - Mullet
          - Other Pisces
          - Perch
          - Pike
          - Roach
          - Sea Bream
          - Seabass
          - Sharpsnout Seabream
          - Sole
          - Sturgeon
          - Tench
          - Trout
          - Turbot
          - Rockfish/Wolffish
          - Beaver
          - Chinchilla
          - Dormouse
          - Dwarf Hamster
          - European Hamster
          - Gerbil
          - Guinea Pig
          - House Mouse
          - Other Rodentia
          - Rat
          - Russian Hamster
          - Syrian Hamster
          - Golden Hamster
          - Vole
          - Other Suidae
          - Pig/Porcine
          - Wild Boar
          - Addax
        company:
          type: string
          description: Name of company associated with patient (if applicable)
          example: True Pill
          x-convert:
            trim: true
        street1:
          type: string
          description: Street 1 of patient’s address
          example: 123 Some Lane
          x-convert:
            trim: true
        street2:
          type: string
          description: Street 2 of patient’s address (if applicable)
          example: Apt. 123
          x-convert:
            trim: true
        city:
          type: string
          description: City of patient’s address
          example: Los Angeles
          x-convert:
            trim: true
        state:
          type: string
          description: State of patient’s address, two-letter abbreviation
          example: CA
          x-convert:
            trim: true
        country:
          type: string
          default: US
          x-convert:
            trim: true
        phone:
          type: string
          description: Patient’s phone number
          example: 430-304-3949
        email:
          type: string
          description: Patient’s email address
          example: hulkout@hulk.com
          x-format:
            email: true
          x-convert:
            trim: true
        ssn:
          type: string
          description: Social Security Number
          example: '123456789'
          pattern: ^\d{3}\d{2}\d{4}$
        ssn_serial:
          type: string
          description: Social Security Number (last 4 digits)
          example: '6789'
          pattern: ^\d{4}$
        communications_opt_in:
          type: boolean
          example: false
        language_preference:
          type: string
          description: Patient’s preferred language
          example: English
          x-convert:
            trim: true
        id_image:
          type: string
          description: URL for image of user ID
        mbi:
          type: string
          description: Medicare Beneficiary ID
          pattern: ^[1-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z0-9][0-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z0-9][0-9](?![SLOIBZ])[A-Z](?![SLOIBZ])[A-Z][0-9][0-9]$
        viewed_notice_of_privacy_practices:
          type: boolean
        viewed_notice_of_privacy_practices_date:
          type: string
          description: Date NOPP was received
          example: '20180401'
          pattern: ^((1|2)\d{3}[01][0-9][0-3][0-9]$)
      required:
      - first_name
      - last_name
      - gender
      - dob
    Model223:
      type: array
      items:
        $ref: '#/components/schemas/Model222'
    Model220:
      type: object
      properties:
        message:
          type: string
          example: 'Accepted: Patient a35be240f1f5da6b has been updated'
    Model105:
      type: object
      properties:
        weight_value:
          type: number
          example: 1.01
        weight_unit:
          type: string
          example: oz
        created_at:
          type: string
          format: date
          example: '2021-09-15T02:22:21.000Z'
        updated_at:
          type: string
          format: date
          example: '2021-09-15T02:22:21.000Z'
        asthma_breathing:
          type: boolean
          description: Whether the patient has asthma or breathing problems
        heart_disease:
          type: boolean
          description: Whether the patient has heart disease
        arthritis:
          type: boolean
          description: Whether the patient has arthritis
        lung_disorder:
          type: boolean
          description: Whether the patient has a lung disorder
        bleeding_clotting_disorder:
          type: boolean
          description: Whether the patient has a bleeding or clotting disorder
        neurological_chronic_headaches:
          type: boolean
          description: Whether the patient has neurological disorders or chronic headaches
        blood_transfusion:
          type: boolean
          description: Whether the patient has had a blood transfusion
        psychiatric_disorder:
          type: boolean
          description: Whether the patient has a psychiatric disorder
        bowel_stomach:
          type: boolean
          description: Whether the patient has bowel or stomach problems
        pulmonary_embolism:
          type: boolean
          description: Whether the patient has had a pulmonary embolism
        cancer:
          type: boolean
          description: Whether the patient has had cancer
        stroke:
          type: boolean
          description: Whether the patient has had a stroke
        cholesterol_disorder:
          type: boolean
          description: Whether the patient has a cholesterol disorder
        seizure_epilepsy:
          type: boolean
          description: Whether the patient has seizures or epilepsy
        diabetes:
          type: boolean
          description: Whether the patient has diabetes
        thyroid_disorder:
          type: boolean
          description: Whether the patient has a thyroid disorder
        eye_disorder:
          type: boolean
          description: Whether the patient has an eye disorder
        urinary_kidney_disorder:
          type: boolean
          description: Whether the patient has a urinary or kidney disorder
        conditions:
          type: string
        smoking_frequency:
          type: string
          description: The frequency of smoking, if any
        drinking_frequency:
          type: string
          description: The frequency of drinking, if any
        other_medications:
          type: string
        known_allergies:
          type: boolean
          description: Any allergies this patient has
        url_token:
          type: string
          example: 837ab5
        pregnancy:
          type: boolean
          description: Whether the patient is pregnant or not
    Model222:
      type: object
      properties:
        key:
          type: string
          example: first_name
        message:
          type: string
          example: is not allowed
    Model57:
      type: object
      properties:
        name:
          type: string
          x-convert:
            trim: true
        company:
          type: string
          example: Walmart Pharmacy
          x-convert:
            trim: true
        street1:
          type: string
          description: Primary street where the company is located
          example: 123 Some Lane
          x-convert:
            trim: true
        street2:
          type: string
          description: Secondary street where the company is located
          example: Maggio Expressway
          x-convert:
            trim: true
        city:
          type: string
          description: City where the company is located
          example: San Mateo
          x-convert:
            trim: true
        state:
          type: string
          description: State where the company is located
          example: CA
          x-convert:
            trim: true
        zip:
          type: string
          description: Postal code where the company is located
          example: '94538'
          pattern: ^\d{5}(-\d{4})?$
        country:
          type: string
          description: Country where the company is located
          example: US
          default: US
          x-convert:
            trim: true
        email:
          type: string
          description: 'Company email for email messaging '
          example: some_email@gmail.com
          x-format:
            email: true
          x-convert:
            trim: true
        phone:
          type: string
          x-convert:
            trim: true
      required:
      - name
      - street1
      - city
      - state
      - zip
    Model221:
      type: object
      properties:
        patient_token:
          type: string
          example: a35be240f1f5da6b
        timestamp:
          type: integer
          example: 1631571795
        status:
          type: string
          example: success
        details:
          $ref: '#/components/schemas/Model220'
    Model234:
      type: object
      properties:
        statusCode:
          type: number
          example: 400
        error:
          type: string
          example: Bad Request
        validation_errors:
          $ref: '#/components/schemas/Model233'
    Model224:
      type: object
      properties:
        statusCode:
          type: number
          example: 400
        error:
          type: string
          example: Bad Request
        validation_errors:
          $ref: '#/components/schemas/Model223'
    Model58:
      type: object
      properties:
        guardian:
          type: string
        species:
          type: string
          description: Pet type
          example: Dog
        first_name:
          type: string
          description: Legal patient first name
          example: Lola
        last_name:
          type: string
          description: Legal patient last name
          example: Martin
        dob:
          type: string
          description: Legal patient date of birth, YYYYMMDD format
          example: '20180401'
        gender:
          type: string
          description: 'Assigned gender at birth: male or female'
          example: male
        address:
          $ref: '#/components/schemas/Model57'
        communications_opt_in:
          type: boolean
        patient_token:
          type: string
          example: a35be240f1f5da6b
        mbi:
          type: string
          description: Medicare Beneficiary ID
          example: 1EG4TE5MK73
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
x-alt-definitions:
  selected_allergies:
    type: array
    items:
      type: string
  allergies:
    type: object
    properties:
      selected_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      presented_allergies:
        $ref: '#/x-alt-definitions/selected_allergies'
      free_form_allergy_information:
        type: string
    required:
    - selected_allergies
    - presented_allergies
    - free_form_allergy_information
  Model1:
    type: object
    properties:
      name:
        type: string
      strength:
        type: number
      dosage:
        type: string
      frequency:
        type: string
    required:
    - name
  medications:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model1'
  Model2:
    type: object
    properties:
      type:
        type: string
      year:
        type: number
      reason:
        type: string
    required:
    - type
    - year
    - reason
  events:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model2'
  patient_consent:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
  Model3:
    type: object
    properties:
      insurance_token:
        type: string
        description: Insurance token
        example: adcbc795028c009d
        minLength: 1
      prior_authorization_number:
        type: string
        example: ABC123
        pattern: ^[0-9a-zA-Z]{1,35}$
      other_coverage_code:
        type: string
        example: '8'
        pattern: ^[0-8]{1}$
      submission_clarification_code:
        type: string
        example: '3'
        pattern: ^(?:[1-9]\d?|0)$
    required:
    - insurance_token
  claim_overrides:
    type: array
    items:
      $ref: '#/x-alt-definitions/Model3'
  pricing:
    type: object
    properties:
      ingredient_cost_submitted:
        type: number
        x-constraint:
          greater: 0
          precision: 2
  Model4:
    type: object
    properties:
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      quantity:
        type: number
        example: 8.7
      days_supply:
        type: number
        example: 30
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
      claim_overrides:
        $ref: '#/x-alt-definitions/claim_overrides'
      ndc:
        type: string
        description: National drug code
        example: '71858002504'
        pattern: ^[0-9]{10,11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      copay_limit:
        type: number
        minimum: 0
        x-constraint:
          precision: 2
      pricing:
        $ref: '#/x-alt-definitions/pricing'
    required:
    - prescription_token
    - daw
  insurance_token:
    type: array
    example:
    - skhsyq83rkd3uht9
    - ubqfc1a0a17hjb1c
    - oi4aafwcsv5zzvvj
    minItems: 1
    items:
      type: string
  copay_payment:
    type: object
    properties:
      cardholder_name:
        type: string
        description: Cardholder name
        example: John Doe
      payment_type:
        type: string
      last_four_digits:
        type: string
        example: '4132'
      transaction_amount:
        type: number
      card_type:
        type: string
      transaction_date:
        type: string
      transaction_id:
        type: string
    required:
    - payment_type
  Medication:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/patient_consent'
    required:
    - daw
  MedicationArray:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Medication'
  auto_refill:
    type: object
    properties:
      date_provided:
        type: string
        format: date
        description: Date of consent
        example: '2022-05-12'
      consent_statement:
        type: string
        description: Statement confirming consent
        example: I consent
    required:
    - date_provided
    - consent_statement
  Model5:
    type: object
    properties:
      consent_statement:
        type: string
      consent_method:
        type: string
      consent_date:
        type: string
      consent_type:
        type: string
      patient_name:
        type: string
      consent_provided_by:
        type: string
      item:
        type: string
      auto_refill:
        $ref: '#/x-alt-definitions/auto_refill'
  Model6:
    type: object
    description: Medication description
    example:
    - prescription_token: z3q2jr
    - prescription_token: 3cs873
    properties:
      medication_name:
        type: string
        description: Medication name
        example: Ritalin
        maxLength: 255
      quantity_dispensed:
        type: number
        description: Dispensed medication quantity
        example: 60
      days_supply:
        type: number
        description: Days supply
        example: 30
      is_refill:
        type: boolean
        description: Is prescription a refill or new fill
        example: true
      medication_sig:
        type: string
        description: Recommendations for medicines
        example: Apply daily.
      prescribing_doctor:
        type: string
        description: Prescribing doctor
        example: Dr. Storm
      prescription_token:
        type: string
        description: Prescription token
        example: 4526d90a
        minLength: 1
      rx_link:
        type: string
        minLength: 1
      quantity:
        type: number
        description: Quantity sent
        example: 30
        x-constraint:
          greater: 0
      copay_payment:
        $ref: '#/x-alt-definitions/copay_payment'
      ndc:
        type: string
        description: National drug code
        example: '12345678901'
        pattern: ^[0-9]{11}$
      daw:
        type: string
        example: '2'
        enum:
        - '0'
        - '2'
      patient_consent:
        $ref: '#/x-alt-definitions/Model5'
    required:
    - daw
  Model7:
    type: array
    x-constraint: {}
    items:
      $ref: '#/x-alt-definitions/Model6'
  Shipping Address:
    type: object
    properties:
      name:
        type: string
        minLength: 1
      company:
        type: string
        minLength: 0
      street1:
        type: string
        description: Primary street of the address
        minLength: 1
      street2:
        type: string
        description: Secondary street
        minLength: 0
      city:
        type: string
        description: City
        minLength: 1
      state:
        type: string
        description: State
        minLength: 1
      zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-\d{4})?$
      country:
        type: string
        description: Country
        default: US
        minLength: 1
      phone:
        type: string
        minLength: 0
      email:
        type: string
        minLength: 1
      fax:
        type: string
        minLength: 0
    required:
    - name
    - street1
    - city
    - state
    - zip
    - country
    - email
  shipping_address:
    type: object
    properties:
      phone:
        type: string
        minLength: 0
    required:
    - phone
  external_location:
    type: object
    properties:
      id:
        type: string
        description: 'Stringified UUIDv4.

          See [RFC 4112](https://tools.ietf.org/html/rfc4122)'
        minLength: 0
        pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
      pharmacy:
        type: string
        description: References GET /v1/external_location_pharmacies
        minLength: 0
      npi:
        type: string
        description: NPI - likely type 2
        minLength: 0
        maxLength: 10
        pattern: ^[0-9]{10}$
      address_to_street1:
        type: string
        minLength: 0
      address_to_street2:
        type: string
        minLength: 0
      address_to_city:
        type: string
        minLength: 0
      address_to_state:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_zip:
        type: string
        minLength: 0
        pattern: ^\d{5}(-?\d{4})?$
      address_to_country:
        type: string
        minLength: 0
        pattern: ^[A-Z]{2}$
      address_to_phone:
        type: string
        minLength: 0
        pattern: ^(\+)?[1-9]\d{1,14}$
      address_to_fax:
        type: string
        description: The fax number of the address
        minLength: 0
        maxLength: 255
        pattern: ^[1-9]\d{1,14}$
    required:
    - id
    - pharmacy
    - npi
    - address_to_street1
    - address_to_city
    - address_to_state
    - address_to_zip
    - address_to_country
  Model8:
    type: object
    properties:
      ncpdpid:
        type: string
        description: NCPDP ID - National Council for Prescription Drug Programs
        minLength: 0
      distance_from_origin:
        type: number
        description: Approximate distance rounded to nearest 0.01 mile
    required:
    - ncpdpid
