{"swagger":"2.0","host":"rxapi.fuzehealth.com","basePath":"/","schemes":["https","http"],"info":{"title":"Truepill API documentation","version":"0.0.1","description":"DOCS"},"securityDefinitions":{"apiKey":{"type":"apiKey","name":"Authorization","in":"header"}},"security":[{"apiKey":[]}],"tags":[],"paths":{"/scheduled-actions":{"get":{"summary":"Get scheduled actions list with any action type by current customer","operationId":"getScheduledactions","parameters":[{"type":"integer","description":"The quantity of scheduled actions items per query/page","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"string","description":"Next page token is the base64 encoded cursor (created action date) from which to start paginated list","name":"nextPageToken","in":"query"}],"tags":["scheduled-actions"],"responses":{"200":{"schema":{"$ref":"#/definitions/getScheduledActions.data"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model2"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model3"},"description":"Unauthorized"},"500":{"schema":{"$ref":"#/definitions/Model2"},"description":"Internal Server Error"}}}},"/scheduled-fill-requests":{"get":{"summary":"Retrieve details for a scheduled fill request by id.","operationId":"getScheduledfillrequests","description":"Include either original_fill_request_token or id in the query parameters.","parameters":[{"type":"string","x-format":{"guid":true},"name":"id","in":"query"},{"type":"string","name":"original_fill_request_token","in":"query"}],"tags":["scheduled-fill-requests"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model4"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model2"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model3"},"description":"Unauthorized"},"500":{"schema":{"$ref":"#/definitions/Model2"},"description":"Internal Server Error"}}},"post":{"summary":"Reschedule a fill request that was submitted too soon.","operationId":"postScheduledfillrequests","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/POST%20ScheduledFill%20Request%20Payload"}}],"tags":["scheduled-fill-requests"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model113"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model2"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model3"},"description":"Unauthorized"},"500":{"schema":{"$ref":"#/definitions/Model2"},"description":"Internal Server Error"}}}},"/consults/v0":{"get":{"summary":"Get Consults","operationId":"getConsultsV0","description":"Get a list of consults","parameters":[{"type":"string","description":"Program ID","pattern":"^[0-9a-fA-F]{24}$","name":"program_id","in":"query"},{"type":"string","name":"provider_name","in":"query"},{"type":"string","name":"patient_name","in":"query"},{"type":"string","name":"patient_token","in":"query"},{"type":"boolean","name":"scheduled","in":"query"},{"type":"string","name":"status","in":"query"},{"type":"boolean","name":"bundled","in":"query"},{"type":"string","name":"appointment_start_date","in":"query"},{"type":"string","name":"appointment_end_date","in":"query"},{"type":"number","name":"skip","in":"query"},{"type":"number","name":"page_number","in":"query"},{"type":"number","name":"limit","in":"query"},{"type":"string","name":"sort","in":"query"},{"type":"string","name":"direction","in":"query"}],"tags":["consults"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model7"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model8"},"description":"Unauthorized"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v0/schedule":{"get":{"summary":"Return available open slots for any provider that can be used to create consults and schedule appointments on these slots.","operationId":"getV0Schedule","description":"Returns schedule availability of providers based on given parameters","parameters":[{"type":"string","format":"date-time","description":"The time starting from which free slots will be returned. Should be greater than the current time.","name":"start","in":"query","required":true},{"type":"string","format":"date-time","description":"The end time up to which free slots will be returned.","name":"end","in":"query","required":true},{"type":"string","description":"Unique identifier for the questionnaire that providers have enabled scheduling for.","x-constraint":{"length":24},"x-format":{"hex":{"byteAligned":false,"prefix":false}},"name":"questionnaire","in":"query","required":true},{"type":"string","description":"Two letter abbreviation of provider’s licensed state used as a filter.","pattern":"^[A-Z]{2}$","name":"state","in":"query","required":true},{"type":"integer","description":"The duration of each returned slot in minutes.","x-constraint":{"sign":"positive"},"name":"duration","in":"query","required":false}],"tags":["v0"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model11"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model13"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model8"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model14"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v1/auto-refill":{"get":{"summary":"Get a list of all prescriptions currently subscribed to auto-refill","operationId":"getV1Autorefill","tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model15"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/v1/availability":{"get":{"summary":"Get NDC availability","operationId":"getV1Availability","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/external_location_matches":{"get":{"summary":"Search for specific external location using address information","operationId":"getV1External_location_matches","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Query external locations for multiple addresses, and will reply back with a map linking to the matched external location, or indication that one does not exist yet ","operationId":"postV1External_location_matches","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/external_locations":{"get":{"summary":"Search for external locations using zip code","operationId":"getV1External_locations","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/fill_requests":{"get":{"summary":"Get a list of fill requests","operationId":"getV1Fill_requests","description":"Returns a list of fill requests and allows for the use of query parameters to scope the results of the request","parameters":[{"type":"string","name":"created_at","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"metadata","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model22"},"description":"OK"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v1/nearby_same_day_pickup_locations":{"get":{"summary":"Search for nearby same day pickup locations using address details","operationId":"getV1Nearby_same_day_pickup_locations","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/patient":{"get":{"summary":"Patient search","operationId":"getV1Patient","description":"While the Get Patient endpoint requires a `patient_token` to retrieve information, you can also retrieve patient information without a `patient_token`, using the Find Patient endpoint.<br/><br/>Search for patient information by appending the following param fields onto the API endpoint, separated with an `&`:","parameters":[{"type":"string","name":"guardian","in":"query"},{"type":"string","description":"Patient title","enum":["Mr.","Ms.","Mrs.","Miss","Ms","Prof","Sir"],"name":"prefix","in":"query"},{"type":"string","description":"Suffix which qualifies a person","enum":["Jr.","Sr.","I","II","III","IV","V"],"name":"suffix","in":"query"},{"type":"string","description":"Patient first name","x-convert":{"trim":true},"name":"first_name","in":"query","required":true},{"type":"string","description":"Patient last name","x-convert":{"trim":true},"name":"last_name","in":"query","required":true},{"type":"string","description":"Patient gender","enum":["male","female","unknown"],"name":"gender","in":"query","required":true},{"type":"string","format":"date","description":"Patient's date of birth","name":"dob","in":"query","required":true},{"type":"string","description":"Postal code where the company is located","pattern":"^\\d{5}(-\\d{4})?$","name":"zip","in":"query"},{"type":"string","default":"Human","enum":["Human","Crocodile","Frog","Iguana","Lizard","Snake","Tortoise","Turtle","Spider","Other Arthopoda","Chicken","African Goshawk","Budgerigar","Cockatiel","Cockatoo","Common Canary","Crow","Duck","Eagle","Goose","Guinea Fowl","Kestrel","Kite","Macaw","Ostrich","Other Aves","Owl","Parakeet","Parrot","Partridge","Peregrin Falcon","Pheasant","Pigeon","Quail","Snipe","Sparrow","Starling","Swan","Turtle Dove","Bison","Cattle/Bovine","Buffalo","Other Bovinae","Alpaca","Camel","Llama","Other Camelidae","Dog/Canine","Fox","Jackal","Raccoon Dog","Wolf","Other Caprinae","Goat/Carpine","Sheep/Ovine","Elk","Moose","Fallow","Other Cervidae","Red Deer","Reindeer","Roe Deer","Donkey/Asinine","Horse/Equine","Hybrid","Other Equidae","Zebra","Bobcat","Cougar","Puma","European Lynx","Cat/Feline","Jaguar","Leopard","Lion","Other Felidae","Tiger","Wild Cat","European Rabbit","Hare","Other Leporidae","Bivalvia","Cephalopoda","Other Mollusca","Badger","Ferret","Mink","Other Mustelidae","Bat","Bear","Hedgehog","Monkey","Other Mammalia","Arctic Char","Atlantic Salmon","Brill","Carp","Catfish","Cod","Crucian Carp","European Eel","Gilthead","Goldfish","Gudgeon","Halibut","Largemouth Bass","Mullet","Other Pisces","Perch","Pike","Roach","Sea Bream","Seabass","Sharpsnout Seabream","Sole","Sturgeon","Tench","Trout","Turbot","Rockfish/Wolffish","Beaver","Chinchilla","Dormouse","Dwarf Hamster","European Hamster","Gerbil","Guinea Pig","House Mouse","Other Rodentia","Rat","Russian Hamster","Syrian Hamster","Golden Hamster","Vole","Other Suidae","Pig/Porcine","Wild Boar","Addax"],"name":"species","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model23"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}},"put":{"summary":"Create Patient","operationId":"putV1Patient","description":"This endpoint generates a patient record in the Truepill ecosystem.<br/><br/>Upon a successful request, the endpoint returns a `patient_token` for you to reference in subsequent API requests that require this field.<br/><br/>The `patient_token` that is returned upon successfully creating a patient record can be used with many of the other endpoints to continue referencing the same record.<br/><br/>If the patient information in the request body matches the information in an existing patient record, the existing `patient_token` will be returned in the API response.<br/><br/>The address and phone number provided should be the same as the information provided to the prescriber on the e-Script. These attributes are only used for matching purposes.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model230"}}],"tags":["v1"],"responses":{"201":{"schema":{"$ref":"#/definitions/Model231"},"description":"Created"},"400":{"schema":{"$ref":"#/definitions/Model234"},"description":"Bad Request"}}}},"/v1/pharmacy-coverage":{"get":{"summary":"Get best suitable Pharmacy Location","operationId":"getV1Pharmacycoverage","parameters":[{"type":"string","x-constraint":{"length":2},"name":"ship_to_state","in":"query"},{"type":"string","pattern":"^[0-9]{6}$","name":"bin","in":"query"},{"type":"string","name":"pcn","in":"query"},{"type":"string","name":"group_number","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model25"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model26"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model27"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model28"},"description":"Forbidden"}}}},"/v1/same_day_delivery":{"get":{"summary":"Get same day delivery orders","operationId":"getV1Same_day_delivery","description":"Get same day delivery orders","parameters":[{"type":"string","minLength":0,"name":"next_page_token","in":"query"},{"type":"string","enum":["PENDING","FAILED","AWAITING_PICKUP","IN_TRANSIT","DELIVERED","CANCELED","INCOMPLETE"],"name":"status","in":"query"},{"type":"number","default":20,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Create a same day delivery order","operationId":"postV1Same_day_delivery","description":"Create a same day delivery order","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model173"}}],"tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/specialty_pharmacies":{"get":{"summary":"Fetch specialty pharmacies based on Rx token (for prescriber NPI) and insurance token (for bin, pcn, group)","operationId":"getV1Specialty_pharmacies","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/transfer_request":{"get":{"summary":"Get a list of Transfers","operationId":"getV1Transfer_request","description":"This endpoint retrieves a list of all the transfer requests you have made to the Truepill ecosystem.<br/><br/>List transfers utilizes an optional pagination functionality when retrieving a large number of transfers. By default, this endpoint retrieves 50 transfers at a time, starting with the earliest transfers.<br/><br/>For example, if you were looking to retrieve the 70-80th transfers made to Truepill, you would use a pagination of 1 (zero base indexing).<br/><br/>To paginate, append a `?` at the end of the API endpoint along with the `page=[PAGE_NUMBER]`, and replace<br/><br/>`[PAGE_NUMBER]` with an integer.<br/><br/>If the pagination value surpasses the number of transfers in the system, an empty array `[]` will be returned.<br/><br/>This endpoint retrieves 50 transfers at a time, starting with the earliest-made transfers. If you have a large number of transfers and are looking to retrieve more recent transfers, you will need to paginate.","tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model31"},"description":"OK"}}},"post":{"summary":"Create a Transfer","operationId":"postV1Transfer_request","description":"A transfer request can be created using our `transfer_request` API endpoint. Truepill will provide a receipt confirmation of the request, but please note the subsequent webhook event notifying you of a successful transfer may take 1-3 days.<br/><br/>The following endpoint requests the transfer of a prescription from a third-party pharmacy to Truepill’s pharmacy. If the prescription in question was generated by a physician contracted by the API User then this endpoint does not need to be called; otherwise this request is necessary for the Fill Request to be fulfilled.<br/><br/>Note: You MUST send either pharmacy contact information or prescriber contact information to avoid an error.<br/><br/>If `medications` field is not provided in the request, Truepill will transfer all possible patient prescriptions.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Transfer%20request"}}],"tags":["v1"],"responses":{"201":{"schema":{"$ref":"#/definitions/Model178"},"description":"Created"},"400":{"schema":{"$ref":"#/definitions/Model181"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/v1/webhook_events":{"get":{"summary":"List all Webhook Events","operationId":"getV1Webhook_events","parameters":[{"type":"string","x-alternatives":[{"type":"string"},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"timestamp"}],"name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model37"},"description":"OK"}}}},"/api/v1/auto-refill":{"get":{"summary":"Get a list of all prescriptions currently subscribed to auto-refill","operationId":"getApiV1Autorefill","tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model15"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/api/v1/availability":{"get":{"summary":"Get NDC availability","operationId":"getApiV1Availability","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/external_location_matches":{"get":{"summary":"Search for specific external location using address information","operationId":"getApiV1External_location_matches","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Query external locations for multiple addresses, and will reply back with a map linking to the matched external location, or indication that one does not exist yet ","operationId":"postApiV1External_location_matches","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/external_locations":{"get":{"summary":"Search for external locations using zip code","operationId":"getApiV1External_locations","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/fill_requests":{"get":{"summary":"Get a list of fill requests","operationId":"getApiV1Fill_requests","description":"Returns a list of fill requests and allows for the use of query parameters to scope the results of the request","parameters":[{"type":"string","name":"created_at","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"metadata","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model22"},"description":"OK"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/api/v1/nearby_same_day_pickup_locations":{"get":{"summary":"Search for nearby same day pickup locations using address details","operationId":"getApiV1Nearby_same_day_pickup_locations","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/patient":{"get":{"summary":"Patient search","operationId":"getApiV1Patient","description":"While the Get Patient endpoint requires a `patient_token` to retrieve information, you can also retrieve patient information without a `patient_token`, using the Find Patient endpoint.<br/><br/>Search for patient information by appending the following param fields onto the API endpoint, separated with an `&`:","parameters":[{"type":"string","name":"guardian","in":"query"},{"type":"string","description":"Patient title","enum":["Mr.","Ms.","Mrs.","Miss","Ms","Prof","Sir"],"name":"prefix","in":"query"},{"type":"string","description":"Suffix which qualifies a person","enum":["Jr.","Sr.","I","II","III","IV","V"],"name":"suffix","in":"query"},{"type":"string","description":"Patient first name","x-convert":{"trim":true},"name":"first_name","in":"query","required":true},{"type":"string","description":"Patient last name","x-convert":{"trim":true},"name":"last_name","in":"query","required":true},{"type":"string","description":"Patient gender","enum":["male","female","unknown"],"name":"gender","in":"query","required":true},{"type":"string","format":"date","description":"Patient's date of birth","name":"dob","in":"query","required":true},{"type":"string","description":"Postal code where the company is located","pattern":"^\\d{5}(-\\d{4})?$","name":"zip","in":"query"},{"type":"string","default":"Human","enum":["Human","Crocodile","Frog","Iguana","Lizard","Snake","Tortoise","Turtle","Spider","Other Arthopoda","Chicken","African Goshawk","Budgerigar","Cockatiel","Cockatoo","Common Canary","Crow","Duck","Eagle","Goose","Guinea Fowl","Kestrel","Kite","Macaw","Ostrich","Other Aves","Owl","Parakeet","Parrot","Partridge","Peregrin Falcon","Pheasant","Pigeon","Quail","Snipe","Sparrow","Starling","Swan","Turtle Dove","Bison","Cattle/Bovine","Buffalo","Other Bovinae","Alpaca","Camel","Llama","Other Camelidae","Dog/Canine","Fox","Jackal","Raccoon Dog","Wolf","Other Caprinae","Goat/Carpine","Sheep/Ovine","Elk","Moose","Fallow","Other Cervidae","Red Deer","Reindeer","Roe Deer","Donkey/Asinine","Horse/Equine","Hybrid","Other Equidae","Zebra","Bobcat","Cougar","Puma","European Lynx","Cat/Feline","Jaguar","Leopard","Lion","Other Felidae","Tiger","Wild Cat","European Rabbit","Hare","Other Leporidae","Bivalvia","Cephalopoda","Other Mollusca","Badger","Ferret","Mink","Other Mustelidae","Bat","Bear","Hedgehog","Monkey","Other Mammalia","Arctic Char","Atlantic Salmon","Brill","Carp","Catfish","Cod","Crucian Carp","European Eel","Gilthead","Goldfish","Gudgeon","Halibut","Largemouth Bass","Mullet","Other Pisces","Perch","Pike","Roach","Sea Bream","Seabass","Sharpsnout Seabream","Sole","Sturgeon","Tench","Trout","Turbot","Rockfish/Wolffish","Beaver","Chinchilla","Dormouse","Dwarf Hamster","European Hamster","Gerbil","Guinea Pig","House Mouse","Other Rodentia","Rat","Russian Hamster","Syrian Hamster","Golden Hamster","Vole","Other Suidae","Pig/Porcine","Wild Boar","Addax"],"name":"species","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model23"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}},"put":{"summary":"Create Patient","operationId":"putApiV1Patient","description":"This endpoint generates a patient record in the Truepill ecosystem.<br/><br/>Upon a successful request, the endpoint returns a `patient_token` for you to reference in subsequent API requests that require this field.<br/><br/>The `patient_token` that is returned upon successfully creating a patient record can be used with many of the other endpoints to continue referencing the same record.<br/><br/>If the patient information in the request body matches the information in an existing patient record, the existing `patient_token` will be returned in the API response.<br/><br/>The address and phone number provided should be the same as the information provided to the prescriber on the e-Script. These attributes are only used for matching purposes.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model230"}}],"tags":["api"],"responses":{"201":{"schema":{"$ref":"#/definitions/Model231"},"description":"Created"},"400":{"schema":{"$ref":"#/definitions/Model234"},"description":"Bad Request"}}}},"/api/v1/pharmacy-coverage":{"get":{"summary":"Get best suitable Pharmacy Location","operationId":"getApiV1Pharmacycoverage","parameters":[{"type":"string","x-constraint":{"length":2},"name":"ship_to_state","in":"query"},{"type":"string","pattern":"^[0-9]{6}$","name":"bin","in":"query"},{"type":"string","name":"pcn","in":"query"},{"type":"string","name":"group_number","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model25"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model26"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model27"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model28"},"description":"Forbidden"}}}},"/api/v1/same_day_delivery":{"get":{"summary":"Get same day delivery orders","operationId":"getApiV1Same_day_delivery","description":"Get same day delivery orders","parameters":[{"type":"string","minLength":0,"name":"next_page_token","in":"query"},{"type":"string","enum":["PENDING","FAILED","AWAITING_PICKUP","IN_TRANSIT","DELIVERED","CANCELED","INCOMPLETE"],"name":"status","in":"query"},{"type":"number","default":20,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Create a same day delivery order","operationId":"postApiV1Same_day_delivery","description":"Create a same day delivery order","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model173"}}],"tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/specialty_pharmacies":{"get":{"summary":"Fetch specialty pharmacies based on Rx token (for prescriber NPI) and insurance token (for bin, pcn, group)","operationId":"getApiV1Specialty_pharmacies","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/transfer_request":{"get":{"summary":"Get a list of Transfers","operationId":"getApiV1Transfer_request","description":"This endpoint retrieves a list of all the transfer requests you have made to the Truepill ecosystem.<br/><br/>List transfers utilizes an optional pagination functionality when retrieving a large number of transfers. By default, this endpoint retrieves 50 transfers at a time, starting with the earliest transfers.<br/><br/>For example, if you were looking to retrieve the 70-80th transfers made to Truepill, you would use a pagination of 1 (zero base indexing).<br/><br/>To paginate, append a `?` at the end of the API endpoint along with the `page=[PAGE_NUMBER]`, and replace<br/><br/>`[PAGE_NUMBER]` with an integer.<br/><br/>If the pagination value surpasses the number of transfers in the system, an empty array `[]` will be returned.<br/><br/>This endpoint retrieves 50 transfers at a time, starting with the earliest-made transfers. If you have a large number of transfers and are looking to retrieve more recent transfers, you will need to paginate.","tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model31"},"description":"OK"}}},"post":{"summary":"Create a Transfer","operationId":"postApiV1Transfer_request","description":"A transfer request can be created using our `transfer_request` API endpoint. Truepill will provide a receipt confirmation of the request, but please note the subsequent webhook event notifying you of a successful transfer may take 1-3 days.<br/><br/>The following endpoint requests the transfer of a prescription from a third-party pharmacy to Truepill’s pharmacy. If the prescription in question was generated by a physician contracted by the API User then this endpoint does not need to be called; otherwise this request is necessary for the Fill Request to be fulfilled.<br/><br/>Note: You MUST send either pharmacy contact information or prescriber contact information to avoid an error.<br/><br/>If `medications` field is not provided in the request, Truepill will transfer all possible patient prescriptions.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Transfer%20request"}}],"tags":["api"],"responses":{"201":{"schema":{"$ref":"#/definitions/Model178"},"description":"Created"},"400":{"schema":{"$ref":"#/definitions/Model181"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/api/v1/webhook_events":{"get":{"summary":"List all Webhook Events","operationId":"getApiV1Webhook_events","parameters":[{"type":"string","x-alternatives":[{"type":"string"},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"timestamp"}],"name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model37"},"description":"OK"}}}},"/diagnostics/v0/kits":{"get":{"summary":"Get Kits","operationId":"getDiagnosticsV0Kits","description":"Get available kits.","tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/KitResponse"},"description":"The set of all test kits"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"404":{"description":"Kit not found"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/diagnostics/v0/orders":{"get":{"summary":"Get Orders","operationId":"getDiagnosticsV0Orders","description":"Get all orders. Supports searching with a simple DSL: \n        [operator]:value where [operator] is one of: '$lt' for \"less than\" '$lte' for \"less than or equal to\" '$eq' for \"equal to\" '$gte' for \"greater than or equal to\" '$gt' for \"greater than\"","parameters":[{"type":"number","description":"Limited Quantity information","name":"limit","in":"query"},{"type":"string","description":"query + ID indicating which test should to be ordered. Acceptable query values include: '$eq:' (equals), '$gt:' (greater than), '$gte:' (greater than or equal to), '$lt:' (less than), '$lte:' (less than or equal to)","pattern":"^(\\$gt:|\\$gte:|\\$lt:|\\$lte:|\\$eq:)[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"test_id","in":"query"},{"type":"string","description":"query + ID indicating which kit should be ordered. Acceptable query values include: '$eq:' (equals), '$gt:' (greater than), '$gte:' (greater than or equal to), '$lt:' (less than), '$lte:' (less than or equal to)","pattern":"^(\\$gt:|\\$gte:|\\$lt:|\\$lte:|\\$eq:)[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"kit_id","in":"query"},{"type":"string","description":"A custom data string for external use. This can be any arbitrary UTF-8 string","pattern":"^(\\$gt:|\\$gte:|\\$lt:|\\$lte:|\\$eq:).+$","name":"custom_data_1","in":"query"},{"type":"string","description":"A custom data string for external use. This can be any arbitrary UTF-8 string","pattern":"^(\\$gt:|\\$gte:|\\$lt:|\\$lte:|\\$eq:).+$","name":"custom_data_2","in":"query"},{"type":"string","description":"A custom data string for external use. This can be any arbitrary UTF-8 string","pattern":"^(\\$gt:|\\$gte:|\\$lt:|\\$lte:|\\$eq:).+$","name":"custom_data_3","in":"query"},{"type":"array","minItems":1,"items":{"type":"string"},"collectionFormat":"multi","name":"panels","in":"query","required":false},{"type":"string","name":"pageToken","in":"query"}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/OrderResponse"},"description":"The set of all orders"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}},"post":{"summary":"Post Order","operationId":"postDiagnosticsV0Orders","description":"Create a new order, and fulfill a new kit to the patient for that order. If there's already a kit for this patient, use the \"register\" endpoint instead of this endpoint.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/PostOrders"}}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/Order"},"description":"Successful"},"201":{"description":"The created order"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/diagnostics/v0/tests":{"get":{"summary":"Get Tests","operationId":"getDiagnosticsV0Tests","description":"Get available tests","tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/TestResponse"},"description":"The set of all tests"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/v1/auto-refill/{prescription_token}":{"get":{"summary":"GET auto refill subscription","operationId":"getV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model43"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}},"post":{"summary":"Create auto refill subscription for prescription","operationId":"postV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model209"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}},"delete":{"summary":"Cancel an auto-refill subscription","operationId":"deleteV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model242"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/v1/copay_request/{request_id}":{"get":{"summary":"Get Copay Request by request_id","operationId":"getV1Copay_requestRequest_id","description":"Get information around an existing Copay Request","parameters":[{"type":"string","description":"Request id","name":"request_id","in":"path","required":true}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model45"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model46"},"description":"Not Found"}}}},"/v1/direct_transfer/{direct_transfer_token}":{"get":{"summary":"Get Direct Transfer by token","operationId":"getV1Direct_transferDirect_transfer_token","parameters":[{"type":"string","name":"direct_transfer_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model47"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model48"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model49"},"description":"Not Found"}}}},"/v1/external_locations/{id}":{"get":{"summary":"Get a specific external location by id","operationId":"getV1External_locationsId","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/external_transfers/{id}":{"get":{"summary":"Get external transfer details","operationId":"getV1External_transfersId","description":"Get the details of an external transfer<br/><br/>This endpoints needs the external transfer id to retrieve the right data","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/fill_request/{url_token}":{"get":{"summary":"Get Fill Request by token","operationId":"getV1Fill_requestUrl_token","description":"Once a Fill Request has been submitted, you can look up the request payload that was submitted at any time for reference with an API request<br/><br/>This endpoint requires a `request_token`. You will receive a `request_token` upon a successful Fill Request API submission response in the `request_id` field.","parameters":[{"type":"string","description":"URL token","name":"url_token","in":"path","required":true}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model21"},"description":"Accepted"},"403":{"schema":{"$ref":"#/definitions/Model50"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model51"},"description":"Not Found"}}}},"/v1/insurance/{insurance_token}":{"get":{"summary":"Get Insurance details","operationId":"getV1InsuranceInsurance_token","parameters":[{"type":"string","description":"Insurance token","name":"insurance_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model52"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model53"},"description":"Not Found"}}}},"/v1/media/{id}":{"get":{"summary":"Get media by id","operationId":"getV1MediaId","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model54"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v1/open-api/api.yml":{"get":{"summary":"Get current OpenAPI spec for Truepill APIs","operationId":"getV1OpenapiApiyml","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/order/{token}":{"get":{"summary":"Get Order","operationId":"getV1OrderToken","description":"Get the details of an order<br/><br/>This endpoints needs the url_token to retrieve the right data","tags":["v1"],"responses":{"400":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"statusCode","schema":{"type":"number","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":null,"_invalids":null,"_rules":[],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null},"$_super":{}}},{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}},"401":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"message","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}},"404":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"statusCode","schema":{"type":"number","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":null,"_invalids":null,"_rules":[],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null},"$_super":{}}},{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"message","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}}}}},"/v1/patient/{patient_token}":{"get":{"summary":"Get Patient","operationId":"getV1PatientPatient_token","description":"Once a patient has been created in the Truepill ecosystem, you can access the patient information at any time using the `patient_token` that was provided on the Create Patient response.<br/><br/>If the `patient_token` does not map to a patient record, a `404 Not Found` will be returned.<br/><br/>Querying for patient information that does not belong to you will return an error response.<br/><br/>Patient SSN and `id_image` information is not viewable through this endpoint","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model58"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}},"post":{"summary":"Update Patient","operationId":"postV1PatientPatient_token","description":"This endpoint updates a patient record in the Truepill ecosystem.<br/><br/>Upon a successful request, the endpoint returns the `patient_token` of the patient updated, the timestamp, the status, and a message.<br/><br/>Only non-required fields can be updated. Submitting a patient's first name, last name, date of birth, or gender as a field to be updated will be considered a bad request.","parameters":[{"type":"string","name":"patient_token","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model219"}}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model221"},"description":"Accepted"},"400":{"schema":{"$ref":"#/definitions/Model224"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/v1/prescriber/{prescriber_token}":{"get":{"summary":"Get Prescriber","operationId":"getV1PrescriberPrescriber_token","description":"Get the prescriber information at any time using the `prescriber_token` that was provided in the Create Prescriber response","parameters":[{"type":"string","description":"Prescriber token","name":"prescriber_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model60"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model61"},"description":"Not Found"}}}},"/v1/prescription/{token}":{"get":{"summary":"Get Prescription by token","operationId":"getV1PrescriptionToken","description":"Once a specific prescription is in the Truepill ecosystem -- either via eRx, Direct Transfer or Transfer -- the prescription information can be retrieved at any time through an API request.<br/><br/>This endpoint requires a prescription_token. You will receive a prescription_token through one of the following scenarios: <br/><br/>A Notify-Rx callback which is sent when a prescription is received by the pharmacy through SureScripts<br/><br/>A Direct Transfer callback which is sent when a Direct Transfer has been successfully processed<br/><br/>A Transfer callback which is sent when a Transfer has been successfully processed","parameters":[{"type":"string","name":"token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model62"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model63"},"description":"Not Found"}}}},"/v1/same_day_delivery/{id}":{"get":{"summary":"Get a specific same day delivery order by ID","operationId":"getV1Same_day_deliveryId","description":"Get a specific same day delivery order by ID","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/transfer_request/{token}":{"get":{"summary":"Get a Transfer by token","operationId":"getV1Transfer_requestToken","description":"Once a transfer has been created in the Truepill ecosystem, you can access the transfer information at any time using the `transfer_token` that was provided on the Create Transfer response.<br/><br/>If the `transfer_token` does not map to a transfer record, a `404 Not Found` will be returned.<br/><br/>Querying for transfer information that does not belong to you will return an error response.","parameters":[{"type":"string","description":"Transfer token","name":"token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model68"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model69"},"description":"Not Found"}}}},"/v1/webhook_events/{webhook_type}":{"get":{"summary":"List NotifyRx Webhook Events","operationId":"getV1Webhook_eventsWebhook_type","description":"Webhook Events can be retrieved via API to be reprocessed.<br/><br/>This endpoint returns a list of webhook events and allows for the use of query parameters to scope the results of the request. A request `payload` represents the request's timestamp, type, and details. A request's `delivery_data` represents the request's status information.<br/><br/>Supported `webhook_types` are `notify_rx`","parameters":[{"type":"string","enum":["notify_rx","FILE","CONSULT","CONSULT_TASK","CONTACT","TRANSFER_OUT","VISIT"],"name":"webhook_type","in":"path","required":true},{"type":"string","x-alternatives":[{"type":"string"},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"timestamp"}],"name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"},{"type":"string","name":"request_id","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model74"},"description":"OK"}}}},"/v2/media/{id}":{"get":{"summary":"Generate signing-url for read file from google storage","operationId":"getV2MediaId","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["v2"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model75"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/api/v1/auto-refill/{prescription_token}":{"get":{"summary":"GET auto refill subscription","operationId":"getApiV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model43"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}},"post":{"summary":"Create auto refill subscription for prescription","operationId":"postApiV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model209"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}},"delete":{"summary":"Cancel an auto-refill subscription","operationId":"deleteApiV1AutorefillPrescription_token","parameters":[{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model242"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/api/v1/copay_request/{request_id}":{"get":{"summary":"Get Copay Request by request_id","operationId":"getApiV1Copay_requestRequest_id","description":"Get information around an existing Copay Request","parameters":[{"type":"string","description":"Request id","name":"request_id","in":"path","required":true}],"tags":["api"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model45"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model46"},"description":"Not Found"}}}},"/api/v1/direct_transfer/{direct_transfer_token}":{"get":{"summary":"Get Direct Transfer by token","operationId":"getApiV1Direct_transferDirect_transfer_token","parameters":[{"type":"string","name":"direct_transfer_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model47"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model48"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model49"},"description":"Not Found"}}}},"/api/v1/external_locations/{id}":{"get":{"summary":"Get a specific external location by id","operationId":"getApiV1External_locationsId","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/external_transfers/{id}":{"get":{"summary":"Get external transfer details","operationId":"getApiV1External_transfersId","description":"Get the details of an external transfer<br/><br/>This endpoints needs the external transfer id to retrieve the right data","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/fill_request/{url_token}":{"get":{"summary":"Get Fill Request by token","operationId":"getApiV1Fill_requestUrl_token","description":"Once a Fill Request has been submitted, you can look up the request payload that was submitted at any time for reference with an API request<br/><br/>This endpoint requires a `request_token`. You will receive a `request_token` upon a successful Fill Request API submission response in the `request_id` field.","parameters":[{"type":"string","description":"URL token","name":"url_token","in":"path","required":true}],"tags":["api"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model21"},"description":"Accepted"},"403":{"schema":{"$ref":"#/definitions/Model50"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model51"},"description":"Not Found"}}}},"/api/v1/insurance/{insurance_token}":{"get":{"summary":"Get Insurance details","operationId":"getApiV1InsuranceInsurance_token","parameters":[{"type":"string","description":"Insurance token","name":"insurance_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model52"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model53"},"description":"Not Found"}}}},"/api/v1/media/{id}":{"get":{"summary":"Get media by id","operationId":"getApiV1MediaId","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model54"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/api/v1/open-api/api.yml":{"get":{"summary":"Get current OpenAPI spec for Truepill APIs","operationId":"getApiV1OpenapiApiyml","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/order/{token}":{"get":{"summary":"Get Order","operationId":"getApiV1OrderToken","description":"Get the details of an order<br/><br/>This endpoints needs the url_token to retrieve the right data","tags":["api"],"responses":{"400":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"statusCode","schema":{"type":"number","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":null,"_invalids":null,"_rules":[],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null},"$_super":{}}},{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}},"401":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"message","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}},"404":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"statusCode","schema":{"type":"number","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":null,"_invalids":null,"_rules":[],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null},"$_super":{}}},{"key":"error","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"message","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}}],"patterns":null,"renames":null},"$_super":{}}}}},"/api/v1/patient/{patient_token}":{"get":{"summary":"Get Patient","operationId":"getApiV1PatientPatient_token","description":"Once a patient has been created in the Truepill ecosystem, you can access the patient information at any time using the `patient_token` that was provided on the Create Patient response.<br/><br/>If the `patient_token` does not map to a patient record, a `404 Not Found` will be returned.<br/><br/>Querying for patient information that does not belong to you will return an error response.<br/><br/>Patient SSN and `id_image` information is not viewable through this endpoint","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model58"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}},"post":{"summary":"Update Patient","operationId":"postApiV1PatientPatient_token","description":"This endpoint updates a patient record in the Truepill ecosystem.<br/><br/>Upon a successful request, the endpoint returns the `patient_token` of the patient updated, the timestamp, the status, and a message.<br/><br/>Only non-required fields can be updated. Submitting a patient's first name, last name, date of birth, or gender as a field to be updated will be considered a bad request.","parameters":[{"type":"string","name":"patient_token","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model219"}}],"tags":["api"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model221"},"description":"Accepted"},"400":{"schema":{"$ref":"#/definitions/Model224"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/api/v1/prescriber/{prescriber_token}":{"get":{"summary":"Get Prescriber","operationId":"getApiV1PrescriberPrescriber_token","description":"Get the prescriber information at any time using the `prescriber_token` that was provided in the Create Prescriber response","parameters":[{"type":"string","description":"Prescriber token","name":"prescriber_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model60"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model61"},"description":"Not Found"}}}},"/api/v1/prescription/{token}":{"get":{"summary":"Get Prescription by token","operationId":"getApiV1PrescriptionToken","description":"Once a specific prescription is in the Truepill ecosystem -- either via eRx, Direct Transfer or Transfer -- the prescription information can be retrieved at any time through an API request.<br/><br/>This endpoint requires a prescription_token. You will receive a prescription_token through one of the following scenarios: <br/><br/>A Notify-Rx callback which is sent when a prescription is received by the pharmacy through SureScripts<br/><br/>A Direct Transfer callback which is sent when a Direct Transfer has been successfully processed<br/><br/>A Transfer callback which is sent when a Transfer has been successfully processed","parameters":[{"type":"string","name":"token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model62"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model63"},"description":"Not Found"}}}},"/api/v1/same_day_delivery/{id}":{"get":{"summary":"Get a specific same day delivery order by ID","operationId":"getApiV1Same_day_deliveryId","description":"Get a specific same day delivery order by ID","tags":["api"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/v1/transfer_request/{token}":{"get":{"summary":"Get a Transfer by token","operationId":"getApiV1Transfer_requestToken","description":"Once a transfer has been created in the Truepill ecosystem, you can access the transfer information at any time using the `transfer_token` that was provided on the Create Transfer response.<br/><br/>If the `transfer_token` does not map to a transfer record, a `404 Not Found` will be returned.<br/><br/>Querying for transfer information that does not belong to you will return an error response.","parameters":[{"type":"string","description":"Transfer token","name":"token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model68"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model69"},"description":"Not Found"}}}},"/api/v1/webhook_events/{webhook_type}":{"get":{"summary":"List NotifyRx Webhook Events","operationId":"getApiV1Webhook_eventsWebhook_type","description":"Webhook Events can be retrieved via API to be reprocessed.<br/><br/>This endpoint returns a list of webhook events and allows for the use of query parameters to scope the results of the request. A request `payload` represents the request's timestamp, type, and details. A request's `delivery_data` represents the request's status information.<br/><br/>Supported `webhook_types` are `notify_rx`","parameters":[{"type":"string","enum":["notify_rx","FILE","CONSULT","CONSULT_TASK","CONTACT","TRANSFER_OUT","VISIT"],"name":"webhook_type","in":"path","required":true},{"type":"string","x-alternatives":[{"type":"string"},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"timestamp"}],"name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"},{"type":"string","name":"request_id","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model74"},"description":"OK"}}}},"/api/v2/media/{id}":{"get":{"summary":"Generate signing-url for read file from google storage","operationId":"getApiV2MediaId","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model75"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/consults/v0/consult/{consult_id}":{"get":{"summary":"Get Consult","operationId":"getConsultsV0ConsultConsult_id","description":"Get a consult by id","parameters":[{"type":"string","x-constraint":{"length":24},"x-format":{"hex":{"byteAligned":false,"prefix":false}},"name":"consult_id","in":"path","required":true}],"tags":["consults"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model87"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model90"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model8"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model91"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}},"delete":{"summary":"Delete Consult","operationId":"deleteConsultsV0ConsultConsult_id","description":"Delete a consult by id","parameters":[{"type":"string","x-constraint":{"length":24},"x-format":{"hex":{"byteAligned":false,"prefix":false}},"name":"consult_id","in":"path","required":true}],"tags":["consults"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"400":{"schema":{"$ref":"#/definitions/Model245"},"description":"Bad Request"},"401":{"schema":{"$ref":"#/definitions/Model8"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model246"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/diagnostics/v0/orders/{order_id}":{"get":{"summary":"Get Order By Id","operationId":"getDiagnosticsV0OrdersOrder_id","description":"Get order","parameters":[{"type":"string","description":"Order ID","x-format":{"guid":true},"name":"order_id","in":"path","required":true}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/Order"},"description":"The given order"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/v1/auto-refill/patient/{patient_token}":{"get":{"summary":"Get a list of all prescriptions currently subscribed to auto-refill for a given patient","operationId":"getV1AutorefillPatientPatient_token","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model95"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/v1/direct_transfer/{direct_transfer_token}/webhook_events":{"get":{"summary":"Get Direct Transfer webhook events by token","operationId":"getV1Direct_transferDirect_transfer_tokenWebhook_events","description":"You will receive a Notify Rx Webhook Event for each prescription that is transferred to Truepill.<br/><br/>After a Direct Transfer Request has been successfully completed, you will receive a Notify Rx Webhook Event for the prescription transferred to Truepill, along with a Direct Transfer webhook event. This will contain the `prescription_token` to utilize the prescription within Truepill.<br/><br/>If a Direct Transfer is unable to be successfully processed, only an error Direct Transfer webhook event will be sent.<br/><br/>Direct Transfer Webhook Events are sent with text `DIRECT_TRANSFER` in the `callback_type` field and, like with other webhook events, the `status` field indicating whether or not it was successful.<br/><br/>In an error webhook event for a Direct Transfer, the `prescription_token` will not be provided as it was unable to be added into the Truepill system.","parameters":[{"type":"string","name":"direct_transfer_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model100"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model48"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model49"},"description":"Not Found"}}}},"/v1/fill_request/{url_token}/webhook_events":{"get":{"summary":"Get list of webhook events","operationId":"getV1Fill_requestUrl_tokenWebhook_events","description":"Return a list of webhook events and allows for the use of query parameters to scope the results of the request<br/><br/>A request payload represents the request's timestamp, type, and details.<br/><br/>A request's delivery_data represents the request's status information.","parameters":[{"type":"string","name":"url_token","in":"path","required":true},{"type":"string","name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model103"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model50"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model51"},"description":"Not Found"}}}},"/v1/patient/{patient_token}/prescriptions":{"get":{"summary":"List Patient Prescriptions","operationId":"getV1PatientPatient_tokenPrescriptions","description":"Retrieve the list of Patient's prescriptions which includes the prescription token, medication name, medication sig, prescriber, date written, refills remaining, current prescription status and the fillable status.<br/><br/>Patient's prescriptions must already exist in the Truepill ecosystem in order to be retrieved.","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model104"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/v1/patient/{patient_token}/patient_survey":{"get":{"summary":"Get Patient Survey","operationId":"getV1PatientPatient_tokenPatient_survey","description":"This endpoint returns the most recent `patient_survey` that was submitted to Truepill","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model105"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/v1/prescription/{prescription_token}/escript":{"get":{"summary":"Get Prescription escript by token","operationId":"getV1PrescriptionPrescription_tokenEscript","description":"Get escript data for a particular prescription","parameters":[{"type":"string","enum":["text/xml"],"name":"content-type","in":"header","required":true},{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model106"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model63"},"description":"Not Found"}}}},"/api/v1/auto-refill/patient/{patient_token}":{"get":{"summary":"Get a list of all prescriptions currently subscribed to auto-refill for a given patient","operationId":"getApiV1AutorefillPatientPatient_token","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model95"},"description":"ok"},"400":{"schema":{"$ref":"#/definitions/Model18"},"description":"Bad Request"},"500":{"schema":{"$ref":"#/definitions/Model19"},"description":"Internal Server Error"}}}},"/api/v1/direct_transfer/{direct_transfer_token}/webhook_events":{"get":{"summary":"Get Direct Transfer webhook events by token","operationId":"getApiV1Direct_transferDirect_transfer_tokenWebhook_events","description":"You will receive a Notify Rx Webhook Event for each prescription that is transferred to Truepill.<br/><br/>After a Direct Transfer Request has been successfully completed, you will receive a Notify Rx Webhook Event for the prescription transferred to Truepill, along with a Direct Transfer webhook event. This will contain the `prescription_token` to utilize the prescription within Truepill.<br/><br/>If a Direct Transfer is unable to be successfully processed, only an error Direct Transfer webhook event will be sent.<br/><br/>Direct Transfer Webhook Events are sent with text `DIRECT_TRANSFER` in the `callback_type` field and, like with other webhook events, the `status` field indicating whether or not it was successful.<br/><br/>In an error webhook event for a Direct Transfer, the `prescription_token` will not be provided as it was unable to be added into the Truepill system.","parameters":[{"type":"string","name":"direct_transfer_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model100"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model48"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model49"},"description":"Not Found"}}}},"/api/v1/fill_request/{url_token}/webhook_events":{"get":{"summary":"Get list of webhook events","operationId":"getApiV1Fill_requestUrl_tokenWebhook_events","description":"Return a list of webhook events and allows for the use of query parameters to scope the results of the request<br/><br/>A request payload represents the request's timestamp, type, and details.<br/><br/>A request's delivery_data represents the request's status information.","parameters":[{"type":"string","name":"url_token","in":"path","required":true},{"type":"string","name":"timestamp","in":"query"},{"type":"number","maximum":100,"name":"limit","in":"query"},{"type":"string","name":"next","in":"query"},{"type":"string","name":"status","in":"query"}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model103"},"description":"OK"},"403":{"schema":{"$ref":"#/definitions/Model50"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model51"},"description":"Not Found"}}}},"/api/v1/patient/{patient_token}/patient_survey":{"get":{"summary":"Get Patient Survey","operationId":"getApiV1PatientPatient_tokenPatient_survey","description":"This endpoint returns the most recent `patient_survey` that was submitted to Truepill","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["api"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model105"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/api/v1/patient/{patient_token}/prescriptions":{"get":{"summary":"List Patient Prescriptions","operationId":"getApiV1PatientPatient_tokenPrescriptions","description":"Retrieve the list of Patient's prescriptions which includes the prescription token, medication name, medication sig, prescriber, date written, refills remaining, current prescription status and the fillable status.<br/><br/>Patient's prescriptions must already exist in the Truepill ecosystem in order to be retrieved.","parameters":[{"type":"string","name":"patient_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model104"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model24"},"description":"Not Found"}}}},"/api/v1/prescription/{prescription_token}/escript":{"get":{"summary":"Get Prescription escript by token","operationId":"getApiV1PrescriptionPrescription_tokenEscript","description":"Get escript data for a particular prescription","parameters":[{"type":"string","enum":["text/xml"],"name":"content-type","in":"header","required":true},{"type":"string","name":"prescription_token","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model106"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model63"},"description":"Not Found"}}}},"/diagnostics/v0/orders/{order_id}/rejection":{"get":{"summary":"Get Orders Rejection","operationId":"getDiagnosticsV0OrdersOrder_idRejection","description":"Get test rejections for order","parameters":[{"type":"string","description":"Diagnostics-specific order UUID (not used by other APIs)","x-format":{"guid":true},"name":"order_id","in":"path","required":true}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/GetOrderRejectionResponse"},"description":"The rejections"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/diagnostics/v0/orders/{order_id}/results":{"get":{"summary":"Get Order Results","operationId":"getDiagnosticsV0OrdersOrder_idResults","description":"Get test results for order","parameters":[{"type":"string","description":"Diagnostics-specific order UUID (not used by other APIs)","x-format":{"guid":true},"name":"order_id","in":"path","required":true}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/OrderResultResponse"},"description":"The set of all tests"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/diagnostics/v2/orders/{order_id}/results":{"get":{"summary":"Get Order Results","operationId":"getDiagnosticsV2OrdersOrder_idResults","description":"Get test results for order","parameters":[{"type":"string","description":"Diagnostics-specific order UUID (not used by other APIs)","x-format":{"guid":true},"name":"order_id","in":"path","required":true}],"tags":["diagnostics"],"responses":{"200":{"schema":{"$ref":"#/definitions/OrderResultResponseV2"},"description":"The set of all tests"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/v1/media/{id}/signed-url/read":{"get":{"summary":"Generate signing-url for read file from google storage","operationId":"getV1MediaIdSignedurlRead","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"type":"string","example":"https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model108"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"422":{"schema":{"$ref":"#/definitions/Model109"},"description":"Internal Server Error"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v1/media/{id}/signed-url/write":{"get":{"summary":"Generate signing-url for write file in to google storage","operationId":"getV1MediaIdSignedurlWrite","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"type":"string","example":"https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model108"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"422":{"schema":{"$ref":"#/definitions/Model109"},"description":"Internal Server Error"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/api/v1/media/{id}/signed-url/write":{"get":{"summary":"Generate signing-url for write file in to google storage","operationId":"getApiV1MediaIdSignedurlWrite","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"type":"string","example":"https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model108"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"422":{"schema":{"$ref":"#/definitions/Model109"},"description":"Internal Server Error"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/api/v1/media/{id}/signed-url/read":{"get":{"summary":"Generate signing-url for read file from google storage","operationId":"getApiV1MediaIdSignedurlRead","parameters":[{"type":"string","description":"Should be a uuid","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$","name":"id","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"type":"string","example":"https://storage.googleapis.com/1512a193-065b-4360-bd1f-48b8a260f140?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=upload-scanner%40serviceaccount.com%2F20211126%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211126T130011Z&X-Goog-Expires=900&X-Goog-SignedHeaders=content-type%3Bhost&X-Goog-Signature=123","pattern":"^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model55"},"description":"Unauthorized"},"403":{"schema":{"$ref":"#/definitions/Model108"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/Model56"},"description":"Not Found"},"422":{"schema":{"$ref":"#/definitions/Model109"},"description":"Internal Server Error"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/diagnostics/v0/kits/{kit_id}/validation/kit_serial":{"get":{"summary":"Validate Kit Serial","operationId":"getDiagnosticsV0KitsKit_idValidationKit_serial","description":"Validate that the kit serial is valid for use, according to checks in the diagnostic-api.","parameters":[{"type":"string","description":"Kit ID","x-format":{"guid":true},"name":"kit_id","in":"path","required":true},{"type":"string","description":"Kit Serial","name":"test","in":"query","required":true}],"tags":["diagnostics"],"responses":{"200":{"schema":{"type":"boolean"},"description":"The kit serial is valid"},"400":{"description":"There is an issue with your request. Inspection of the response body will yield more details"},"401":{"description":"Authorization missing or invalid"},"404":{"description":"Kit not found"},"500":{"description":"An unexpected, likely ephemeral scenario occurred. The request will have to be retried later. We recommend reaching out to Truepill if this is a persistent issue."}}}},"/v1/prescription/{prescription_token}/fill/{fill_number}/claims":{"get":{"summary":"Get Claim information","operationId":"getV1PrescriptionPrescription_tokenFillFill_numberClaims","description":"Get claim information associated with a prescription and that particular fill<br/><br/>Given a prescription token and a fill number, the claim information associated with a prescription and that particular fill can be retrieved via API<br/><br/>All claim information correlating to a specific fill is made available here, including claim rejections and reversals. Claim information is displayed in array format, with each object representing a claim record<br/><br/>If a claim is rejected, NCPDP codes are also displayed for the particular claim rejection within the `claim_reject_codes` field<br/><br/>Claim records are displayed in chronological order. If no claim information is available for a provided `prescription_token` and `fill_number`, an empty array is returned.","parameters":[{"type":"string","description":"Prescription token associated with prescription","name":"prescription_token","in":"path","required":true},{"type":"number","description":"Fill number of particular fill","name":"fill_number","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model111"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model112"},"description":"Not Found"}}}},"/api/v1/prescription/{prescription_token}/fill/{fill_number}/claims":{"get":{"summary":"Get Claim information","operationId":"getApiV1PrescriptionPrescription_tokenFillFill_numberClaims","description":"Get claim information associated with a prescription and that particular fill<br/><br/>Given a prescription token and a fill number, the claim information associated with a prescription and that particular fill can be retrieved via API<br/><br/>All claim information correlating to a specific fill is made available here, including claim rejections and reversals. Claim information is displayed in array format, with each object representing a claim record<br/><br/>If a claim is rejected, NCPDP codes are also displayed for the particular claim rejection within the `claim_reject_codes` field<br/><br/>Claim records are displayed in chronological order. If no claim information is available for a provided `prescription_token` and `fill_number`, an empty array is returned.","parameters":[{"type":"string","description":"Prescription token associated with prescription","name":"prescription_token","in":"path","required":true},{"type":"number","description":"Fill number of particular fill","name":"fill_number","in":"path","required":true}],"tags":["api"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model111"},"description":"OK"},"404":{"schema":{"$ref":"#/definitions/Model112"},"description":"Not Found"}}}},"/v1/cancel_request":{"post":{"summary":"Cancel Fill Request","operationId":"postV1Cancel_request","description":"Cancel a Fill Request whose `request_id` field matches the respective user provided text parameter","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model118"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model124"},"description":"OK"},"400":{"schema":{"$ref":"#/definitions/Model125"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/Model126"},"description":"Forbidden"},"500":{"schema":{"$ref":"#/definitions/Model127"},"description":"Internal Server Error"}}}},"/v1/copay_request":{"post":{"summary":"Create Copay Request","operationId":"postV1Copay_request","description":"Generate a Copay Request to retrieve copay information on a patient's prescription(s). We can support multiple insurances on a copay request","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model130"}}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model133"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model134"},"description":"Not Found"}}}},"/v1/coverage_request":{"post":{"summary":"Create Coverage Request","operationId":"postV1Coverage_request","description":"Generate a Coverage Request for Truepill to investigate whether a patient has any valid plans or benefit details.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model135"}}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model137"},"description":"Accepted"},"404":{"schema":{"$ref":"#/definitions/Model134"},"description":"Not Found"}}}},"/v1/direct_transfer":{"post":{"summary":"Create Direct Transfer","operationId":"postV1Direct_transfer","description":"Create a direct pharmacy-to-pharmacy transfer of the prescription<br/><br/>A direct transfer is a pharmacy-to-pharmacy transfer of the prescription between your pharmacy and a Truepill pharmacy. This method works best for customers that operate their own pharmacies and are looking for a programmatic way to transfer a prescription.<br/><br/>And similar to a traditional transfer request, there are required fields related to the pharmacist transferring out the prescription, and the pharmacist transferring in the prescription.<br/><br/>This approach requires a digital copy of the original prescription.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/CreateDirectTransfer"}}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model141"},"description":"Accepted"},"400":{"schema":{"$ref":"#/definitions/Model142"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model143"},"description":"Not Found"}}}},"/v1/fill_request":{"post":{"summary":"Create Fill Request","operationId":"postV1Fill_request","description":"Generate a Fill Request to fill/refill prescriptions and order Over-the-Counter (OTC) products<br/><br/>The prescriptions and products requested can be shipped to your patient with various shipping methods.<br/><br/>When making a Fill Request, the patient will be referenced with a `patient_token` being passed into the request body. If you do not have a `patient_token` for your Patient, one can be created using the Patient Create endpoint.<br/><br/>On a successful submission of the Fill Request, a fill request token will be provided that is used to reference the Fill Request (similar to `prescription_token` and `patient_token`).<br/><br/>This attribute is returned under the field `request_id`.<br/><br/>Many fields for the Fill Request may or may not be required depending on what values are passed in. Please reference the field information carefully.<br/><br/>The `metadata` field acts as a link between the Fill Request in the Truepill and the customer systems. It will be provided in all subsequent Fill Request notifications as the order is processed.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model147"}}],"tags":["v1"],"responses":{"202":{"schema":{"$ref":"#/definitions/Model149"},"description":"Accepted"},"400":{"schema":{"$ref":"#/definitions/Model152"},"description":"Bad Request"}}}},"/v1/fuzion_test":{"post":{"summary":"Fuzion test endpoint","operationId":"postV1Fuzion_test","tags":["v1"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/insurance":{"post":{"summary":"Create Insurance","operationId":"postV1Insurance","description":"Associate an Insurance with the Patient<br/><br/>With a Patient created in the Truepill ecosystem, you can associate an Insurance to that patient with the Create Insurance API endpoint using the `patient_token`.<br/><br/>Upon a successful response, an `insurance_token` is provided that can be used along with the existing `patient_token` for Copay and Fill Requests.<br/><br/>Truepill supports multiple insurances should a patient provide more than one insurance.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model154"}}],"tags":["v1"],"responses":{"201":{"schema":{"$ref":"#/definitions/Model156"},"description":"Created"},"400":{"schema":{"$ref":"#/definitions/Model159"},"description":"Bad Request"},"404":{"schema":{"$ref":"#/definitions/Model134"},"description":"Not Found"}}}},"/v1/media":{"post":{"summary":"Create media record by file name provided","operationId":"postV1Media","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/CreateMedia"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model160"},"description":"OK"},"401":{"schema":{"$ref":"#/definitions/Model3"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model161"},"description":"Not Found"},"500":{"schema":{"$ref":"#/definitions/Model9"},"description":"Internal Server Error"}}}},"/v1/order":{"post":{"summary":"Create Order","operationId":"postV1Order","description":"Generate an order to fill/refill prescriptions and order Over-the-Counter (OTC) products, allowing multiple patient's prescriptions to be filled as part of the same order<br/><br/>The prescriptions and products requested can be shipped to your patient with various shipping methods.<br/><br/>When making an order, the patients will be referenced with a `patient_token` being passed into the request body, inside the items array. If you do not have a `patient_token` for your patients, they can be created using the Patient Create endpoint.<br/><br/>On a successful submission of the order, an order token will be provided that is used to reference the Order (similar to `prescription_token` and `patient_token`).<br/><br/>This attribute is returned under the field `order_id`.<br/><br/>Many fields for the Order may or may not be required depending on what values are passed in. Please reference the field information carefully.<br/><br/>The `metadata` field acts as a link between the Order in the Truepill and the customer systems. It will be provided in all subsequent Order notifications as the order is processed.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/icd_codes"}}],"tags":["v1"],"responses":{"202":{"type":"object","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":false,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_refs":{"refs":[]},"_flags":{"description":"Response object for order creation","unknown":true},"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"dependencies":null,"keys":[{"key":"request_id","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{"description":"Unique identifier for the fill request backing this order"},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"order_id","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{"description":"Unique identifier for the order"},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null,"replacements":null},"$_super":{}}},{"key":"timestamp","schema":{"type":"number","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":null,"_invalids":null,"_rules":[{"name":"integer","_resolve":[],"method":"integer"}],"_singleRules":{},"_refs":{"refs":[]},"_flags":{"description":"Timestamp of request processing"},"_cache":null,"$_terms":{"alterations":null,"examples":null,"externals":null,"metas":[],"notes":[],"shared":null,"tags":[],"whens":null},"$_super":{}}},{"key":"status","schema":{"type":"string","$_root":{"_types":{},"version":"17.13.3","cache":{}},"$_temp":{"ruleset":null,"whens":{}},"_ids":{"_byId":{},"_byKey":{},"_schemaChain":false},"_preferences":null,"_valids":{"_values":{},"_refs":{},"_lowercase":{},"_override":false},"_invalids":null,"_rules":[{"name":"min","method":"length","args":{"limit":0},"operator":">=","_resolve":[]}],"_single
[...]
